{% load i18n %}

{% trans "Log In" as log_in %}
{% trans "Sign Up" as sign_up %}
{% trans "Cancel" as cancel %}
{% trans "Log Out" as log_out %}
{% trans "Update My Info" as update_my_info %}



<div role="form" id="user-interaction-container" tabindex="-1" aria-label="signup-login">
  {% include "users/user_login.html" %}

  {% include "users/user_signup.html" %}

  {% if username and profile %}
    {% include "users/user_profile.html" %}
  {% endif %}

  <div id="user-info-container" class="user--message hide" tabindex="-1">
   {% if username %}
      <p>{% blocktrans %}Welcome back, {{ username }}!{% endblocktrans %}</p>
   {% else %}
     <p>{% trans "We're logging you in. Just a moment..." %}</p>
   {% endif %}
  </div>

  <div id="user-info-container--invalid" class="user--message hide" tabindex="-1">
    <p>{% trans "Whoops, it looks like that username or password didn't work." %}</p>
  </div>

  <div id="failure-container" class="user--message hide" tabindex="-1">
    <p>{% trans "Whoops, we're not sure what happened there. Maybe you should try again." %}</p>
  </div>

  <div id="user-signup-result-container" class="user--message hide" tabindex="-1">
    <p>
      {% trans "Thanks for signing up! We'll get ahold of you with relevant news and information. You can come back anytime to update your address." %}
    </p>
  </div>

  <div id="user-profile-result-container" class="user--message hide" tabindex="-1">
    <p>{% trans "Thanks for keeping us up to date!" %}</p>
  </div>

  {% if username and profile %}
    <div id="user-button-container--logged-in">
      <p><strong>{% trans "Welcome back!" %}</strong></p>
      <p>
        {% blocktrans %}If your username isn't {{ username }}, you might want to log out.{% endblocktrans %}
      </p>
      <div class="user-interaction__buttons user--ui">
        <button class="button caps button--logout">{{ log_out }}</button>
        <button class="button caps button--update">{{ update_my_info }}</button>
      </div>
    </div>
  {% else %}
    <div id="user-button-container" tabindex="-1">
      <p><strong>{% trans "Why should you sign up?" %}</strong></p>
      <p>
        {% trans "Sign up for free to access customized hazard preparedness information. By providing your address, you will get updates about seasonal hazards and ongoing incidents specific to your location. We want you to be better prepared so you can keep your family, friends, and neighbors safe when a disaster strikes! Personal information will be protected and secure." %}
      </p>
      <div class="user-interaction__buttons user--ui">
        <button class="button caps button--login">{{ log_in }}</button>
        <button class="button caps button--signup">{{ sign_up }}</button>
      </div>
    </div>
  {% endif %}
</div>
