{% load i18n %}

{% trans "Log Out" as log_out %}
{% trans "Update My Info" as update_my_info %}
{% trans "Log In" as log_in %}
{% trans "Sign Up" as sign_up %}

<div class="user-interaction__buttons">
{% if username %}
    {% csrf_token %}
    <button class="button caps button--logout">{{ log_out }}</button>
    <button class="button caps button--update" role="button">{{ update_my_info }}</button>
{% else %}
    <button class="button caps button--login">{{ log_in }}</button>
    <button class="button caps button--signup">{{ sign_up }}</button>
{% endif %}
</div>