{% load i18n %}

<div id="user-button-container" tabindex="-1">
    <p><strong>{% trans "Why should you sign up?" %}</strong></p>
  <p>
    {% trans "Sign up for free to access customized hazard preparedness information. By providing your address, you will get updates about seasonal hazards and ongoing incidents specific to your location. We want you to be better prepared so you can keep your family, friends, and neighbors safe when a disaster strikes! Personal information will be protected and secure." %}
  </p>
  {% include "users/user_interaction_buttons.html" %}
</div>