{% load i18n %}

{% trans "Log In" as log_in %}
{% trans "Sign Up" as sign_up %}
{% trans "Cancel" as cancel %}
{% trans "Log Out" as log_out %}
{% trans "Update My Info" as update_my_info %}



<div role="form" id="user-interaction-container" aria-label="signup-login">
  {% include "users/user_login.html" %}

  {% include "users/user_signup.html" %}

  {% if username and profile %}
    {% include "users/user_profile.html" %}
  {% endif %}

  <div id="user-info-container" class="user--message hide">
   {% if username %}
      <p>{% blocktrans %}Welcome back, <span class="username">{{ username }}</span>!{% endblocktrans %}</p>
   {% else %}
     <p>{% trans "We're logging you in. Just a moment..." %}</p>
   {% endif %}
  </div>

  <div id="user-info-container--invalid" class="user--message hide">
    <p>{% trans "Whoops, it looks like that username or password didn't work." %}</p>
  </div>

  <div id="failure-container" class="user--message hide">
    <p>{% trans "Whoops, we're not sure what happened there. Maybe you should try again." %}</p>
  </div>

  <div id="user-signup-result-container" class="user--message hide">
    <p>
      {% trans "Thanks for signing up! We'll get ahold of you with relevant news and information. You can come back anytime to update your address." %}
    </p>
  </div>

  <div id="user-profile-result-container" class="user--message hide">
    <p>{% trans "Thanks for keeping us up to date!" %}</p>
  </div>

  {% if username and profile %}
    <div id="user-button-container--logged-in">
      <p><strong>{% trans "Welcome back!" %}</strong></p>
      <p>
        {% blocktrans %}If your username isn't <span class="username">{{ username }}</span>, you might want to log out.{% endblocktrans %}
      </p>
      <div class="user-interaction__buttons user--ui">
        <button class="caps button--logout">{{ log_out }}</button>
        <button class="caps button--update">{{ update_my_info }}</button>
      </div>
    </div>
  {% else %}
    <div id="user-button-container">
      <h4>{% trans "Receive Important Updates" %}</h4>
      <p>
        {% trans "Keep your family, friends, and neighbors safe. Sign up to get email updates about seasonal hazards like fires, floods, and snow storms. If a natural disaster happens in your area, we’ll send you updates so you can stay informed. We’ll ask for your email address and physical address. Your information will be secure, and we won’t contact you for any other reason." %}
      </p>
      <div class="user-interaction__buttons user--ui">
        <button class="caps button--login">{{ log_in }}</button>
        <button class="caps button--signup">{{ sign_up }}</button>
      </div>
    </div>
  {% endif %}
</div>
