{% load i18n %}
{% load webpack_static from webpack_loader %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
{% include "head-meta.html" with file="app" %}
  <body>
    {% include "simple-header.html" %}
    <div class="content-container">
       <div class="user--ui">
        <h4>{% translate 'Reset your password' %}</h4>
        <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

        <form method="post" class="user--form">{% csrf_token %}
            <div class="user-interaction__fields">
                {{ form.email.errors }}
                <label for="id_email">{% translate 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <div class="user-interaction__buttons">
              <button class="caps" type="submit">{% translate 'Reset my password' %}</button>
            </div>
        </form>
      </div>
    </div>
    {% include "geek_box.html" %}

    {% include "page-end-meta.html" with file="app" %}
  </body>
</html>
