{% load i18n %}
{% load webpack_static from webpack_loader %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
{% include "head-meta.html" with file="app" %}
  <body>
    {% include "simple-header.html" %}
    <div class="content-container">
        <h4>{% translate 'Your password was changed.' %}</h4>
    </div>
    {% include "geek_box.html" %}

    {% include "page-end-meta.html" with file="app" %}
  </body>
</html>
