{% load i18n %}
{% load webpack_static from webpack_loader %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
{% include "head-meta.html" with file="app" %}
  <body>
    {% include "simple-header.html" %}
    <div class="content-container">
      <h4>{% translate 'Please check your email.' %}</h4>
      <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

      <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </div>
    {% include "geek_box.html" %}

    {% include "page-end-meta.html" with file="app" %}
  </body>
</html>
