{% load i18n %}
{% load webpack_static from webpack_loader %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
{% include "head-meta.html" with file="app" %}
  <body>
    {% include "simple-header.html" %}
    <div class="content-container">

      <div class="user-ui">
        <h4>{% translate 'Enter a new password' %}</h4>
      {% if validlink %}

        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
          <form class="user--form" method="post">
            {% csrf_token %}
              <input class="hide" autocomplete="username" value="{{ form.user.get_username }}">
              <div class="user-interaction__fields">
                  {{ form.new_password1.errors }}
                  <label for="id_new_password1">{% translate 'New password:' %}</label>
                  {{ form.new_password1 }}
              </div>
              <div class="user-interaction__fields">
                  {{ form.new_password2.errors }}
                  <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                  {{ form.new_password2 }}
              </div>
              <div class="user-interaction__buttons">
                <button class="caps" type="submit">{% translate 'Change my password' %}</button>
              </div>
          </form>
        </div>

        {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

        {% endif %}
      </div>
    </div>
    {% include "geek_box.html" %}

    {% include "page-end-meta.html" with file="app" %}
  </body>
</html>
