{% load i18n %}

<div id="user-profile-container" class="user--ui hide">
  <h4>{% trans "Update Your Information" %}</h4>
  <form id="user-profile__form" class="user--form">
    {% csrf_token %}
    <div class="user-interaction__fields">
      <label>{% trans "Street Address" %}
        <input type="text" id="user-profile__address1" name="address1" value="{{ profile.address1 }}" />
      </label>
      <label>{% trans "Other Address Information" %}
        <input type="text" id="user-profile__address2" name="address2" value="{{ profile.address2 }}"/>
      </label>
      <label>{% trans "City" %}
        <input type="text" id="user-profile__city" name="city" value="{{ profile.city }}"/>
      </label>
      <label>{% trans "State" %}
        <input type="text" id="user-profile__state" name="state" value="{{ profile.state }}" />
      </label>
      <label>{% trans "Zip Code" %}
        <input type="text" id="user-profile__zip" name="zip_code" value="{{ profile.zip_code }}" />
      </label>
    </div>
    <div class="user-interaction__buttons">
      <button class="button--submit caps user-profile__submit" type="submit">{% trans "Update" %}</button>
      <button class="caps button--cancel-update">{% trans "Cancel" %}</button>
    </div>
    <a href="{% url 'password_change' %}">{% trans "Change my password" %}</a>
  </form>
</div>
