Django==4.0.4
dj-database-url==0.5.0
dj-static==0.0.6
django-embed-video==1.4.1
django-model-utils==4.2.0
gunicorn==20.1.0
openpyxl==3.0.9
psycopg2-binary==2.9.3
pyshp==2.2.0
requests==2.27.1
django-solo==2.0.0
Pillow==9.0.1
django-modeltranslation==0.17.5
django-webpack-loader==1.4.1
whitenoise==6.1.0
