{% load js %}
{% load i18n %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% get_current_language as SELECTED_LANGUAGE_CODE %}

<!doctype html>
<html class="no-js" lang="{{ SELECTED_LANGUAGE_CODE }}">
{% include "head-meta.html" with file="data" %}

<body>
{% include "about-header.html" %}

  <div class="content-container">
    <h2>{% trans "Data sources for Hazard Ready" %}</h2>
    <div class="data-source-container">
      {% if quick_data_overview %}
        <div class="hazard-sources">
        <h3 class="hazard-source">{% trans "Quick Data Overview" %}</h3>
        <p>
            {% blocktrans with area_name=settings.area_name %}Take a look at some overviews of the data we used for {{ area_name }}:{% endblocktrans %}
        </p>
        <div class="data__list">
            {% for item in quick_data_overview %}
                <div class="data__image">
                  <a target="_blank" rel="noopener" href="{{ item }}">
                    {{ item.link_text }}
                    <img class="data__thumbnail" src="{{ item }}" alt="A map of King County, Washington, indicating hazard intensity">
                  </a>
                </div>
            {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="data-source-container">
      {% trans 'Questions or concerns about the data? Contact:' %}
      <ul>
        <li><a href="https://msc.fema.gov/portal/resources/contact" target="_blank" rel="noopener">Federal Emergency Management Agency (FEMA)</a> - <i>{% trans 'flood' %}</i></li>
      </ul>
    </div>
  </div>

{% include "geek_box.html" %}
{% include "page-end-meta.html" with file="data" %}

</body>
</html>
