{% extends "index.html" %}
{% load staticfiles %}
{% load show_snugget %}

{% block info-instructions %}
  <div class="information-container">
    <div class="information-instructions" role="complementary">
      <p>Look below the map to see information for your location, or enter another location.</p>
    </div>
  </div>
{% endblock info-instructions %}


{% block map %}
<div class="row" role="application">
  <div class="small-12 column">
    <div id="map" style="height: 300px;"></div>
  </div>
</div>
{% endblock map %}

{% block main-content %}
  <div class="row disaster-container" role="main">
    <div class="small-12 column">
      <ul class="tabs disaster-tabs" data-tab role="group">
        {% for group, hazard in data.items %}
          {% if forloop.first %}
            <li class="tab-title active"><a href="#{{group}}">{{hazard.heading}}</a></li>
          {% else %}
            <li class="tab-title"><a href="#{{group}}">{{hazard.heading}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tabs-content disaster-tabs-content">
      {% for group, hazard in data.items %}
        {% if forloop.first %}
          <div class="content active disaster-content" id="{{group}}">
        {% else %}
          <div class="content disaster-content" id="{{group}}">
        {% endif %}
          {% for section, sub_sections in hazard.sections.items %}
            <div class="snugget-text">
              <div class="section-icon section-icon--dynamic section-icon--{{ section }}">
                <h2 class="caps section-title">{{ section }}</h2>
              </div>
              <div class="section-content">
                {% for sub_section, snuggets in sub_sections.items %}
                  <h3>{{ sub_section }}</h3>
                  {% for snugget in snuggets %}
                    {% show_snugget snugget %}
                  {% endfor %}
                {% endfor %}
                {% if section.name == "Past Events" and hazard.photos %}
                  <h3>Photos of Past Events</h3>
                  <div class="past-photos">
                    {% for photo in hazard.photos %}
                     <img alt="A historical image of {{ hazard.heading }} in {{ location.areaname }}" class="slideshow-image" src="{{ photo }}"/>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="row" role="complementary" aria-label="information">
    <div class="small-10 medium-5 column">
      <h4>Supply Kit</h4>
      {% include "supply-kit.html" %}
    </div>

    <div class="small-10 medium-5 column end">
      <h4>Important Links</h4>
      {% for link in important_links %}
      <h5>{{ link.title }}</h5>
      <p>{{ link.link | safe }}
      {% endfor %}
    </div>
  </div>

  <div class="row" role="complementary" aria-label="community-leaders">
      <div class="small-10 medium-5 column end">
      <h4>Community Leaders</h4>
      <p>{{ location.community_leaders | safe }}</p>
    </div>
  </div>

{% endblock main-content %}
