{% load i18n %}
{% load webpack_static from webpack_loader %}

<div role="contentinfo" id="geek-box">
    <img class="geek-box-logo" src="{% webpack_static 'build/logo.png' %}" alt="">
    <div class="geek-text">
        <h3>{% trans "Who made this?" %}</h3>
        {% if settings.contact_email %}
            {% blocktrans with email=settings.contact_email %}
            <p>
                Have questions? View the <a href="/about" target="_blank">About</a> page or <a href="mailto:{{ email }}">email the Hazard Ready creators</a> for more information.
            </p>
            {% endblocktrans %}
        {% else %}
            <p>Have questions? View the <a href="/about" target="_blank">About</a> page for more information.</p>
        {% endif %}
    </div>
</div>
