{% load i18n %}
{% load webpack_static from webpack_loader %}

<div role="contentinfo" id="geek-box">
    <a href="https://hazardready.org" target="_blank" rel="noopener" class="geek-box-logo"><img src="{% webpack_static 'build/logo.png' %}" alt=""><span class="sr-only">Hazard Ready homepage</span></a>
    <div class="geek-text">
        <h3>{% trans "Who made this?" %}</h3>
        {% url 'about' as about_url %}
        <p>
        {% if settings.contact_email %}
            {% blocktrans with email=settings.contact_email %}
                Have questions? View the <a href="{{ about_url }}" target="_blank">About</a> page or <a href="mailto:{{ email }}">email the Hazard Ready creators</a> for more information.
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}Have questions? View the <a href="{{ about_url }}" target="_blank">About</a> page for more information."{% endblocktrans %}
        {% endif %}
        </p>
    </div>
</div>
