{% load i18n %}
{% load js %}

{% load webpack_static from webpack_loader %}
{% load render_bundle from webpack_loader %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="{{ settings.site_url }}"/>
  <meta property="og:title" content="{{ settings.site_description }}">
  {% trans "Enter your location for a personalized report on your risks and how to prepare." as meta_description %}
  <meta property="og:description" content="{{ settings.intro_text }} {{ meta_description }}">

  <title>{{ settings.site_title }}</title>

 <!-- Load fonts -->
 <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i|Source+Serif+Pro:600,700" rel="stylesheet">

 <!-- Load MapQuest Places search styles (for autocomplete) from CDN -->
 <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>

  {% render_bundle 'app' 'css' %}

  <link rel="shortcut icon" href="{% webpack_static 'build/favicon.ico' %}"/>
  <script type="text/javascript">
    var mapBounds = {{ data_bounds | js }};
  </script>
</head>
