{% load js %}
{% load i18n %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="{{ settings.site_url }}"/>
  <meta property="og:title" content="{{ settings.site_description }}">
  {% trans "Enter your location for a personalized report on your risks and how to prepare." as meta_description %}
  <meta property="og:description" content="{{ settings.intro_text }} {{ meta_description }}">

  <title>{{ settings.site_title }}</title>

  {% render_bundle 'app' 'css' %}

  <link rel="shortcut icon" href="{% webpack_static 'build/favicon.ico' %}"/>

  <!-- Load fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

  <!-- Load MapQuest Places search styles (for autocomplete) from CDN -->
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>

  <script type="text/javascript">
    var mapBounds = {{ data_bounds | js }};
  </script>

</head>
<body>
  <div class="row top-header">
    <div id="title" class="title-header" role="banner">
      {% include "language_selector.html" %}
      <a href="#user-interaction-container" class="button caps button--top">{% trans "Sign Up / Log In" %}</a>
      <h1 class="project-title caps">
        <a href="{{ settings.site_url }}">{{ settings.site_title }}</a>
      </h1>
      <h2 class="project-subtitle">{{ settings.site_description | safe }}</h2>
    </div>
    {% block info-instructions %}
      <div class="information-container">
        <div class="information-instructions" role="main">
          <p class="organization-information">{{ settings.about_text | safe }}</p>
          <p>{{ settings.intro_text | safe }}</p>
          <p class="location-instructions">
            {% trans "Give a location by typing in the box below, clicking on the map, or clicking 'find me'. You'll get a personalized report on your natural hazard risks and steps you can take to prepare." %}
          </p>
        </div>
      </div>
    {% endblock info-instructions %}
  </div>

{% block search %}
  <div class="location-form" role="form" aria-label="location-search">
    <label for="location-text">Location</label>
    <input name="location-text" id="location-text" type="text" placeholder="Your address, your city" />
    <div class="geocode-error-message"></div>
    <a id="location-submit" class="button"></a>
{% trans "Find Me" as find_me %}
    <div class="form-icon-button">
      <a class="auto-location-submit button caps">{{ find_me }}</a>
    </div>
  </div>
{% endblock search %}

{% block map %}
  <div class="map-container" role="application">
    <div class="hide-for-small">
      <div id="map"></div>
    </div>
    <h2 class="caps">{% trans "What are my risks?" %}</h2>
    <h3 class>{% trans "What to Expect" %}</h3>
    <p>
      {% blocktrans %}
        {{ settings.site_title }} gives you an idea of which natural disasters you might experience in the future based on a location in {{ location.area_name }}.
      {% endblocktrans %}
    </p>

    <h3>{% trans "How to Prepare" %}</h3>
    <p>
      {% trans "You have the power to make a difference. Find out how you can protect your loved ones and home before the next disaster hits." %}
    </p>

    <h3>{% trans "In Recent History" %}</h3>
    <p>
      {% blocktrans %}
        Find out which disasters have struck {{ location.area_name }} in the past, what impact they had, and where they happened.
      {% endblocktrans %}
    </p>
  </div>
{% endblock map %}

{% block main-content %}
{% endblock main-content %}

{% include "users/user_interactions.html" %}

{% include "geek_box.html" %}

  <div class="loading hide">
    <h1 class="loading-text caps">{% trans "Getting results for your location..." %}</h1>
    <img class="loading-spinner" src="{% webpack_static 'build/thinking.gif' %}">
  </div>
  {% render_bundle 'vendor' 'js' %}
    <!-- Load MapQuest Places search (for autocomplete) from CDN -->
  <script src="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.js"></script>
  {% render_bundle 'app' 'js' %}

  <!-- script for Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    // Replace the 'UA-numbers' part on the next line with your project's identifier
    // ga('create', 'UA-74680572-2', 'auto');
    ga('send', 'pageview');
    /**
    * Function that tracks a click on an outbound link in Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label. Setting the transport method to 'beacon' lets the hit be sent
    * using 'navigator.sendBeacon' in browser that support it.
    * The new_tab parameter helps open the URL in the current tab if that's the intent.
    */
    var trackOutboundLink = function(url, new_tab) {
      ga('send', 'event', 'outbound', 'click', url, {
         'transport': 'beacon',
         'hitCallback': new_tab ? function() {} : function(){ document.location = url; }
      });
      return new_tab;
    }
  </script>

</body>
</html>
