{% load staticfiles %}
{% load js %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta property="og:url" content="{{ settings.site_url }}"/>
  <meta property="og:title" content="{{ settings.site_description }}">
  <meta property="og:description" content="{{ settings.intro_text }} Enter your location for a personalized report on your risks and how to prepare.">

  <title>{{ settings.site_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/app.css' %}">

  <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
  <script src="{% static 'js/leaflet/leaflet.js' %}"></script>

  <!-- Load Google Maps from CDN-->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBAHGWsE1UQKYha7_E-tN01yVg_St2KWQw&libraries=places"></script>

  <!-- Load Slick from CDN -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

<script type="text/javascript">
  var mapBounds = {{ data_bounds | js }};
</script>
<script src="{% static 'js/app.js' %}"></script>

</head>
<body>
  <div class="row top-header">
    <div id="title" class="title-header" role="banner">
      <a href="#user-interaction-container" class="button radius caps button--top">Sign Up / Log In</a>
      <h1 class="project-title caps">
        <a href="{{ settings.site_url }}">{{ settings.site_title }}</a>
      </h1>
      <h2 class="project-subtitle">{{ settings.site_description | safe }}</h2>
    </div>
    {% block info-instructions %}
      <div class="information-container">
      <div class="information-instructions" role="main">
        <p class="organization-information">{{ settings.about_text | safe }}</p>
        <p>{{ settings.intro_text | safe }}</p>
        <p class="location-instructions">Give a location by typing in the box below, clicking on the map, or clicking 'find me'. You'll get a personalized report on your natural hazard risks and steps you can take to prepare.</p>
      </div>
      </div>
    {% endblock info-instructions %}
  </div>

{% block search %}
      <div class="location-form" role="form" aria-label="location-search">
        <div class="row">
           <div class="small-12 medium-8 medium-push-2 columns">
               <div class="row collapse">
                  <label for="location-text">Location</label>
                 <div class="small-10 columns">
                   <input name="location-text" id="location-text" type="text" placeholder="Your address, your city" />
                   <div class="geocode-error-message"></div>
                 </div>
                 <div class="small-2 end columns">
                   <a id="location-submit" class="button postfix"></a>
                 </div>
               </div>
              <div class="row hidden-for-medium-up">
                <div class="small-6 small-centered columns form-icon-button">
                   <a class="auto-location-submit button radius caps">Find Me</a>
                </div>
                <div class="small-12 hide-for-small medium-3 columns form-icon-button">
                  <a class="auto-location-submit button radius caps">Find Me</a>
               </div>
              </div>
           </div>
        </div>
      </div>
{% endblock search %}

{% block map %}
      <div class="row map-container" role="application">
        <div class="small-12 medium-7 hide-for-small column">
          <div id="map" style="height: 400px;"></div>
        </div>
      <div class="small-12 medium-5 column">
        <h2 class="caps">What are my risks?</h2>
        <h3 class>What to Expect</h3>
        <p>{{ settings.site_title }} gives you an idea of which natural disasters you might experience in the future based on a location in {{ location.area_name }}.</p>

        <h3>In Recent History</h3>
        <p>Find out which disasters have struck {{ location.area_name }} in the past, what impact they had, and where they happened.</p>

        <h3>How to Prepare</h3>
        <p>You have the power to make a difference. Find out how you can protect your loved ones and home before the next disaster hits.</p>
      </div>
      </div>
{% endblock map %}

{% block main-content %}
{% endblock main-content %}

{% include "user_interactions.html" %}

{% include "geek_box.html" %}

<div class="loading hide"></div>

</body>
</html>
