{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}

 {% block info-instructions %}
  <div class="information-container">
    <div class="information-instructions" role="complementary">
        <p class="location-instructions">
          {% trans "Give a location by typing in the box below, clicking on the map, or clicking 'find me'. You'll get a personalized report on your natural hazard risks and steps you can take to prepare." %}
        </p>
    </div>
    </div>
  </div>
{% endblock info-instructions %}

{% block map %}
  <div class="row" role="application">
    <div class="small-12 column">
      <div id="map"></div>
    </div>
  </div>
{% endblock map %}


{% block main-content %}
    <div role="main" class="row vert-pad-medium">
        <div class="medium-8 column medium-push-1">
          <h2 class="caps">{% trans "No information available." %}</h2>
          <div>
            <p>
              {% blocktrans %}
                It looks like your location is outside of {{ location.area_name }}.
              {% endblocktrans %}
            </p>
            <p>
              {% trans "While we value and promote resilience everywhere, the data that powers this site isn't available for other places yet." %}
            </p>
        </div>
      </div>
    </div>
{% endblock main-content %}
