{% extends "index.html" %}
{% load i18n %}

{% block info-instructions %}
  <div class="information-container">
    <h1><span class="info__header">{% trans "No information available for" %}</span> <span class="info__location">{{ location_name }}</span></h1>
    <div class="info__start-over">
      <a class="link--grey" href="{{ settings.site_url }}">
        {% trans "Wrong address? Start over" %}
      </a>
    </div>
  </div>
{% endblock info-instructions %}
{% block risks %}{% endblock risks %}
{% block disclaimer %}{% endblock disclaimer %}

{% block hazard-menu %}{% endblock hazard-menu %}

{% block main-content %}
  <div class="disaster-container">
    <h2 class="link--grey">{% trans "No information available." %}</h2>
    <p>
      {% blocktrans with area_name=settings.area_name %}It looks like your location is outside of {{ area_name }}.{% endblocktrans %}
      {% trans "While we value and promote resilience everywhere, the data that powers this site isn't available for other places yet." %}
    </p>
  </div>
{% endblock main-content %}
