{% load embed_video_tags %}

{% block popout-content %}
<div class="popout-content">

  {% if snugget.pop_out.video %}

    {% video snugget.pop_out.video as v %}
    <div class="popout__video popout__video--medium hide-for-small">
      {% video v "340x255" %}
    </div>
    <div class="popout__video popout__video--small hide-for-medium-up">
      {% video v "300x225" %}
    </div>
    {% endvideo %}

  {% endif %}

  {% if snugget.pop_out.link %}
    <a href="{{snugget.pop_out.link}}" target="_blank" rel="noopener">
  {% endif %}

  {% if snugget.pop_out.image %}
    <img class="popout__image" alt="{{ snugget.pop_out.alt_text }}" src="{{ snugget.pop_out.image.url }}"/>
  {% endif %}

  {% if snugget.pop_out.text %}
    {{ snugget.pop_out.text | safe }}
  {% endif %}

  {% if snugget.pop_out.link %}
    </a>
  {% endif %}

  {% if snugget.photos %}
  <!-- Right now all photo slideshows are in the popout section. If we want to have both, we'll need to make something like pop_out_image_folder in the snuggets file. -->
    <div class="past-photos">
    {% for photo in snugget.photos %}
    <div class="past-photo__container">
       <img alt="" title="" class="slideshow-image" src="{{ photo.image.url }}"/>
       <div class="past-photo__caption">{{ photo.caption | safe }}</div>
     </div>
    {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}

