{% load js %}
{% load i18n %}

{% load webpack_static from webpack_loader %}
{% get_current_language as SELECTED_LANGUAGE_CODE %}

<!doctype html>
<html class="no-js" lang="{{ SELECTED_LANGUAGE_CODE }}">
  {% include "head-meta.html" %}

  <body>
    {% include "prepare-header.html" %}
    <div class="content-container">
      <div class="prepare-hero">
        <div class="overlay">
          <h1 class="h1-sans-serif hero__text">Take the first step toward getting prepared</h1>
        </div>
      </div>
      {% for item in actions %}
        <h4>{{ item.title }}</h4>
        {{ item.content_text | safe }}
      {% endfor %}
    </div>
    {% include "geek_box.html" %}
    {% include "page-end-meta.html" %}

  </body>
</html>
