{% load i18n %}

{% block snugget-content %}
  <div class="snugget__content">
    {{ snugget.text | safe }}
  </div>
  <div class="past-photos">
    {% for photo in snugget.photos %}
    <div class="past-photo__container">
       <img alt="" title="" class="slideshow-image" src="{{ photo.image.url }}"/>
       <div class="past-photo__caption">{{ photo.caption }}</div>
     </div>
    {% endfor %}
  </div>
  <!-- Include popouts if you have slideshow snuggets that also have popouts. Right now we do not. -->
{% endblock %}
