{% block snugget-content %}
  {% if snugget.dynamic_image %}
    <div class="intensity row">
      <div class="intensity-meter">
        {% if snugget.dynamic_image %}
          {{ snugget.dynamic_image | safe }}
        {% endif %}
      </div>
      <div class="intensity-content snugget-content">
        {{ snugget.content | safe }}
      </div>
    </div>
    {% else %}
    <div class="snugget-content">
      {{ snugget.content | safe }}
    </div>
  {% endif %}
  {% include "pop_out.html" %}
{% endblock %}
