{% load i18n %}

{% trans "Log Out" as log_out %}
{% trans "Log In" as log_in %}
{% trans "Sign Up" as sign_up %}
{% trans "Update My Info" as update_my_info %}
{% trans "Cancel" as cancel %}

<div role="form" id="user-interaction-container" tabindex="-1" aria-label="signup-login">
  {% if username and profile %}
    <div id="user-button-container--logged-in">
      <p><strong>{% trans "Welcome back!" %}</strong></p>
      <p>
        {% blocktrans %}If your username isn't {{ username }}, you might want to log out.{% endblocktrans %}
      </p>
      {% include "user_interaction_buttons.html" %}
    </div>
  {% else %}
    {% include "user_why_sign_up.html" %}
  {% endif %}

    <div id="user-login-container" tabindex="-1">
    {% trans "Required." as required %}
      <form id="user-login__form">
        <label>{% trans "Username (your email address)" %}
          <input type="text" id="user-login__username" required placeholder="{{ required }}"/>
        </label>
        <label>{% trans "Password" %}
          <input type="password" id="user-login__password" required placeholder="{{ required }}" />
        </label>
        <div class="user-interaction__buttons">
          <button class="button caps user-login__submit">{{ log_in }}</button>
          <button class="button caps button--cancel">{{ cancel }}</button>
        </div>
      </form>
      <div class="user-interactions-help">
        <p>
          {% blocktrans %}Need some help (like a password reset)? <a href="mailto:help@hazardready.org">Email us.</a>{% endblocktrans %}
        </p>
      </div>
    </div>
    <div id="user-signup-container" tabindex="-1">
      <form id="user-signup__form">
        <label>{% trans "Email address (this will be your username)" %}
          <input type="email" id="user-signup__username" required placeholder="{{ required }}"/>
        </label>
        <label>{% trans "Password (more than 8 characters long, please)" %}
          <input type="password" id="user-signup__password" required pattern=".{8,}" placeholder="{{ required }}" />
        </label>
        <label>{% trans "Street Address" %}
          <input type="text" id="user-signup__address1" />
        </label>
        <label>{% trans "Other Address Information" %}
          <input type="text" id="user-signup__address2" />
        </label>
        <label>{% trans "City" %}
          <input type="text" id="user-signup__city" />
        </label>
        <label>{% trans "State" %}
          <input type="text" id="user-signup__state" placeholder="WA" />
        </label>
        <label>{% trans "Zip Code" %}
          <input type="text" id="user-signup__zip" />
        </label>
        <div class="user-interaction__buttons">
          <button class="button caps user-signup__submit">{{ sign_up }}</button>
          <button class="button caps button--cancel">{{ cancel }}</button>
        </div>
      </form>
      <div class="user-interactions-help">
        <p>{% blocktrans %}Need some help? <a href="mailto:help@hazardready.org">Email us.</a>{% endblocktrans %}</p>
      </div>
    </div>
    <div id="user-signup-result-container" tabindex="-1">
      <p>
        {% trans "Thanks for signing up! We'll get ahold of you with relevant news and information. You can come back anytime to update your address." %}
      </p>
    </div>
    <div id="user-info-container" tabindex="-1">
     {% if username %}
        <p>{% blocktrans %}Welcome back, {{ username }}!{% endblocktrans %}</p>
        {% include "user_interaction_buttons.html" %}
     {% else %}
       <p>{% trans "We're logging you in. Just a moment..." %}</p>
     {% endif %}
    </div>
    <div id="user-info-container--invalid"  tabindex="-1">
      <p>{% trans "Whoops, it looks like that username or password didn't work." %}</p>
      {% include "user_interaction_buttons.html" %}
    </div>
   {% if username and profile %}
     <div id="user-profile-container" tabindex="-1">
      <form id="user-profile__form">
        <label>{% trans "Street Address" %}
          <input type="text" id="user-profile__address1" value="{{ profile.address1 }}" />
        </label>
        <label>{% trans "Other Address Information" %}
          <input type="text" id="user-profile__address2" value="{{ profile.address2 }}"/>
        </label>
        <label>{% trans "City" %}
          <input type="text" id="user-profile__city" value="{{ profile.city }}"/>
        </label>
        <label>{% trans "State" %}
          <input type="text" id="user-profile__state" value="{{ profile.state }}" />
        </label>
        <label>{% trans "Zip Code" %}
          <input type="text" id="user-profile__zip" value="{{ profile.zip_code }}" />
        </label>
        <div class="user-interaction__buttons">
          <button class="button caps user-profile__submit">{% trans "Update" %}</button>
          <button class="button caps button--cancel-update">{{ cancel }}</button>
        </div>
      </form>
    </div>
    <div id="user-profile-result-container" tabindex="-1">
      <p>{% trans "Thanks for keeping us up to date!" %}</p>
    </div>
  {% endif %}
  <div id="failure-container" tabindex="-1">
    <p>{% trans "Whoops, we're not sure what happened there. Maybe you should try again." %}</p>
    {% include "user_interaction_buttons.html" %}
  </div>
</div>
