{% load i18n %}

{% trans "Log Out" as log_out %}
{% trans "Log In" as log_in %}
{% trans "Sign Up" as sign_up %}
{% trans "Update My Info" as update_my_info %}
{% trans "Cancel" as cancel %}

<div role="form" id="user-interaction-container" aria-label="signup-login">
  {% if username and profile %}
    <div id="user-button-container--logged-in" class="row vert-pad-medium">
      <div class="small-12 medium-6 columns">
        <p><strong>{% trans "Welcome back!" %}</strong></p>
        <p>
          {% blocktrans %}
            If your username isn't {{ username }}, you might want to log out.
          {% endblocktrans %}
        </p>
      </div>
      <div class="small-12 medium-6 columns user-interaction__buttons">
        <a href="#user-login-container" class="button radius caps button--logout">{{ log_out }}</a>
        <a href="#user-info-container" class="button radius caps button--update">{{ update_my_info }}</a>
      </div>
    </div>
    <div id="user-button-container" class="row vert-pad-medium hide">
  {% else %}
    <div id="user-button-container" class="row vert-pad-medium">
  {% endif %}
      <div class="small-12 medium-6 columns">
        <p><strong>{% trans "Why should you sign up?" %}</strong></p>
        <p>
          {% trans "Sign up for free to access customized hazard preparedness information. By providing your address, you will get updates about seasonal hazards and ongoing incidents specific to your location. We want you to be better prepared so you can keep your family, friends, and neighbors safe when a disaster strikes! Personal information will be protected and secure." %}
        </p>
      </div>
      <div class="small-12 medium-6 columns user-interaction__buttons">
        <a href="#user-login-container" class="button radius caps button--login">{{ log_in }}</a>
        <a href="#user-signup-container" class="button radius caps button--signup">{{ sign_up }}</a>
      </div>
    </div>
  <div id="user-login-container" class="row vert-pad-medium">
    {% trans "Required." as required %}
    <form id="user-login__form">
      <div class="small-12 medium-6 columns">
        <label>{% trans "Username (your email address)" %}
          <input type="text" id="user-login__username" required placeholder="{{ required }}"/>
        </label>
        <label>{% trans "Password" %}
          <input type="password" id="user-login__password" required placeholder="{{ required }}" />
        </label>
      </div>
      <div class="small-12 medium-6 columns user-interaction__buttons">
        <a href="#user-info-container" class="button radius caps" id="user-login__submit">{{ log_in }}</a>
        <a href-"#user-button-container" class="button radius caps button--cancel">{{ cancel }}</a>
      </div>
    </form>
    <div class="user-interactions-help small-12 columns">
      <p>
        {% blocktrans %}
          Need some help (like a password reset)? <a href="mailto:help@hazardgready.org">Email us.</a>
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div id="user-signup-container" class="row vert-pad-medium">
    <form id="user-signup__form">
      <div class="small-12 medium-6 columns">
        <label>{% trans "Email address (this will be your username)" %}
          <input type="email" id="user-signup__username" required placeholder="{{ required }}"/>
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>{% trans "Password (more than 8 characters long, please)" %}
          <input type="password" id="user-signup__password" required pattern=".{8,}" placeholder="{{ required }}" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>{% trans "Street Address" %}
          <input type="text" id="user-signup__address1" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>{% trans "Other Address Information" %}
          <input type="text" id="user-signup__address2" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>{% trans "City" %}
          <input type="text" id="user-signup__city" />
        </label>
      </div>
      <div class="small-6 medium-3 columns">
        <label>{% trans "State" %}
          <input type="text" id="user-signup__state" />
        </label>
      </div>
      <div class="small-6 medium-3 columns">
        <label>{% trans "Zip Code" %}
          <input type="text" id="user-signup__zip" />
        </label>
      </div>
      <div class="small-12 columns user-interaction__buttons">
        <a href="#user-signup-result-container" class="button radius caps" id="user-signup__submit">{{ sign_up }}</a>
        <a href-"#user-button-container" class="button radius caps button--cancel">{{ cancel }}</a>
      </div>
    </form>
    <div class="user-interactions-help small-12 columns">
      <p>{% blocktrans %}Need some help? <a href="mailto:help@hazardgready.org">Email us.</a>{% endblocktrans %}</p>
    </div>
  </div>
  <div id="user-signup-result-container" class="row vert-pad-medium">
   <div class="small-12 columns">
    <p>
      {% trans "Thanks for signing up! We'll get ahold of you with relevant news and information. You can come back anytime to update your address." %}
    </p>
    </div>
  </div>
  <div id="user-info-container" class="row vert-pad-medium">
     {% if username %}
      <div class="small-12 medium-6 columns">
        <p><strong>{% blocktrans %}Welcome back, {{ username }}!{% endblocktrans %}</strong></p>
      </div>
      <div class="small-12 medium-6 columns user-interaction__buttons">
        <a href="#user-login-container" class="button radius caps button--logout">{{ log_out }}</a>
        <a href="#user-info-container" class="button radius caps button--update">{{ update_my_info }}</a>
      </div>
     {% else %}
      <div class="small-12 medium-6 columns">
       <p>{% trans "We're logging you in. Just a moment..." %}</p>
      </div>
     {% endif %}
  </div>
  <div id="user-info-container--invalid" class="row vert-pad-medium">
    <div class="small-12 medium-6 columns">
      <p>{% trans "Whoops, it looks like that username or password didn't work." %}</p>
    </div>
    <div class="small-12 medium-6 columns user-interaction__buttons">
      <a href="#user-login-container" class="button radius caps button--login" id="">{{ log_in }}</a>
      <a href="#user-signup-container" class="button radius caps button--signup">{{ sign_up }}</a>
    </div>
  </div>
   {% if username %}
     <div id="user-profile-container" class="row vert-pad-medium">
      <form id="user-profile__form">
        <div class="small-12 medium-6 columns">
          <label>{% trans "Street Address" %}
            <input type="text" id="user-profile__address1" value="{{ profile.address1 }}" />
          </label>
        </div>
        <div class="small-12 medium-6 columns">
          <label>{% trans "Other Address Information" %}
            <input type="text" id="user-profile__address2" value="{{ profile.address2 }}"/>
          </label>
        </div>
        <div class="small-12 medium-6 columns">
          <label>{% trans "City" %}
            <input type="text" id="user-profile__city" value="{{ profile.city }}"/>
          </label>
        </div>
        <div class="small-6 medium-3 columns">
          <label>{% trans "State" %}
            <input type="text" id="user-profile__state" value="{{ profile.state }}" />
          </label>
        </div>
        <div class="small-6 medium-3 columns">
          <label>{% trans "Zip Code" %}
            <input type="text" id="user-profile__zip" value="{{ profile.zip_code }}" />
          </label>
        </div>
        <div class="small-12 columns user-interaction__buttons">
          <a href="#user-signup-result-container" class="button radius caps" id="user-profile__submit">{% trans "Update" %}</a>
          <a href="#user-button-container" class="button radius caps button--cancel-update">{{ cancel }}</a>
        </div>
      </form>
    </div>
    <div id="user-profile-result-container" class="row vert-pad-medium">
      <div class="small-12 columns">
      <p>{% trans "Thanks for keeping us up to date!" %}</p>
      </div>
    </div>
  {% endif %}
  <div id="failure-container" class="row vert-pad medium">
    <div class="small-12 medium-6 columns">
      <p>{% trans "Whoops, we're not sure what happened there. Maybe you should try again." %}</p>
    </div>
    {% if username %}
      <div class="small-12 medium-6 columns user-interaction__buttons">
        {% csrf_token %}
        <a href="#user-login-container" class="button radius caps button--logout">{{ log_out }}</a>
        <a href="#user-info-container" class="button radius caps button--update">{{ update_my_info }}</a>
      </div>
    {% else %}
      <div class="small-12 medium-6 columns user-interaction__buttons">
        <a href="#user-login-container" class="button radius caps button--login">{{ log_in }}</a>
        <a href="#user-signup-container" class="button radius caps button--signup">{{ sign_up }}</a>
      </div>
    {% endif %}
  </div>
</div>
