{% extends "index.html" %}
{% load staticfiles %}
{% load show_snugget %}


{% block map %}
<div class="row">
  <div class="small-12 column">
    <div id="map" style="height: 300px;"></div>
  </div>
</div>
{% endblock map %}

{% block main-content %}
<!-------------- THE MOMENT -------------->
    <div class="row vert-pad-medium">
        <div class="medium-8 column medium-push-1">
          <h3 class="caps">The Moment</h3>
          <div class="chapter-content underline">
          {% for snugget in data.structured.moment.impact_snugs %}
            {% if snugget.sub_section.name == "header" %}
              {% show_snugget snugget %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>


    {% if data.structured.moment.tsunami_snugs %}
    <div class="row">
      <div class="small-2 medium-1 medium-push-1 column collapse">
        <div class="section-icon tsunami "></div>
      </div>
      <div class="small-10 medium-6 medium-push-1 column end">
        <h4 class="caps">Tsunami</h4>
        {% for snugget in data.structured.moment.tsunami_snugs %}
          {% if snugget.sub_section.name != "header" %}
            {% show_snugget snugget %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if data.structured.moment.shake_snugs %}
    <div class="row">
      <div class="small-2 medium-1 medium-push-1 column collapse">
        <div class="section-icon shaking"></div>
      </div>
      <div class="small-10 medium-6 medium-push-1 column end">
        <h4 class="caps">Intensity</h4>
        <!-- <div class="section-scale">
        {% comment %}Using "first" because data.shake_score is coming in as a list.{% endcomment %}
        {% with data.shake_score|first as level %}
        {% if level == "Light" %}
          <div class="value-graph"><div class="intensity val-1"></div><div class="numerical orange sans-serif"><span>1</span>/6</div></div>
        {% elif level == "Moderate" %}
          <div class="value-graph"><div class="intensity val-2"></div><div class="numerical orange sans-serif"><span>2</span>/6</div></div>
        {% elif level == "Strong" %}
          <div class="value-graph"><div class="intensity val-3"></div><div class="numerical orange sans-serif"><span>3</span>/6</div></div>
        {% elif level == "Very Strong" %}
          <div class="value-graph"><div class="intensity val-4"></div><div class="numerical orange sans-serif"><span>4</span>/6</div></div>
        {% elif level == "Severe" %}
          <div class="value-graph"><div class="intensity val-5"></div><div class="numerical orange sans-serif"><span>5</span>/6</div></div>
        {% elif level == "Violent" %}
          <div class="value-graph"><div class="intensity val-6"></div><div class="numerical orange sans-serif"><span>6</span>/6</div></div>
        {% endif %}
        {% endwith %}
        </div> -->
        {% for snugget in data.structured.moment.shake_snugs %}
          {% if snugget.sub_section.name != "header" %}
            {% show_snugget snugget %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if data.structured.moment.deform_snugs %}
    <div class="row">
      <div class="small-2 medium-1 medium-push-1 column collapse">
        <div class="section-icon deformation"></div>
      </div>
      <div class="small-10 medium-6 medium-push-1 column end">
        <h4 class="caps">Ground Deformation</h4>
          <!-- {% with data.deform_score as deform_level %}
          {% comment %} deform_level 1 is really "none", so the meaningful values are 2 to 5 {% endcomment %}
          {% if deform_level == 2 %}
            <div class="value-graph"><div class="deformation val-1"></div><div class="numerical orange sans-serif"><span>1</span>/4</div></div>
          {% elif deform_level == 3 %}
            <div class="value-graph"><div class="deformation val-2"></div><div class="numerical orange sans-serif"><span>2</span>/4</div></div>
          {% elif deform_level == 4 %}
            <div class="value-graph"><div class="deformation val-3"></div><div class="numerical orange sans-serif"><span>3</span>/4</div></div>
          {% elif deform_level == 5 %}
            <div class="value-graph"><div class="deformation val-4"></div><div class="numerical orange sans-serif"><span>4</span>/4</div></div>
          {% endif %}
          {% endwith %} -->
          {% for snugget in data.structured.moment.deform_snugs %}
            {% show_snugget snugget %}
          {% endfor %}
      </div>
    </div>
    {% endif %}



<!-------------- COMMUNITY RECOVERY -------------->

  <div class="row vert-pad-medium">
      <div class="medium-8 column medium-push-1">
        <h3 class="caps">Your Community’s Recovery</h3>
        <div class="chapter-content underline">
          {% for snugget in data.structured.recovery.impact_snugs %}
            {% if snugget.sub_section.name == "header" %}
              {% show_snugget snugget %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>

    <div class="white-bg below-arrow">
      <div class="row vert-pad-large">
        <!-- <div class="column">
        {% for zone in data.impact_zones %}
          {% comment %} for now, let the separate tsunami check override the tsunami zone {% endcomment %}
          {% if data.structured.moment.tsunami_snugs or zone.zoneid == 1 %}
          <img class="show-for-small-only" src="{% static 'img/recovery-graph-tsunami-s.svg' %}" alt="Recovery Graph">
          <img class="show-for-medium-up" src="{% static 'img/recovery-graph-tsunami.svg' %}" alt="Recovery Graph">
          {% elif zone.zoneid == 2 %}
          <img class="show-for-small-only" src="{% static 'img/recovery-graph-coast-s.svg' %}" alt="Recovery Graph">
          <img class="show-for-medium-up" src="{% static 'img/recovery-graph-coast.svg' %}" alt="Recovery Graph">
          {% elif zone.zoneid == 3 %}
          <img class="show-for-small-only" src="{% static 'img/recovery-graph-valley-s.svg' %}" alt="Recovery Graph">
          <img class="show-for-medium-up" src="{% static 'img/recovery-graph-valley.svg' %}" alt="Recovery Graph">
          {% elif zone.zoneid == 4 %}
          <img class="show-for-small-only" src="{% static 'img/recovery-graph-east-s.svg' %}" alt="Recovery Graph">
          <img class="show-for-medium-up" src="{% static 'img/recovery-graph-east.svg' %}" alt="Recovery Graph">
          {% endif %}
        {% endfor %}
        </div> -->
     </div>
    </div>



<!-------------- HOW TO PREPARE -------------->

  <div class="row vert-pad-medium">
      <div class="medium-8 column medium-push-1">
        <h3 class="caps">How To Prepare</h3>
        <div class="chapter-content underline">
          {% for snugget in data.structured.prepare.impact_snugs %}
            {% if snugget.sub_section.name == "header" %}
                {% show_snugget snugget %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-2 medium-1 column">
      <div class="section-icon kit"></div>
    </div>
    <div class="small-10 medium-5 column">
      <h4 class="caps">Your Supply Kit</h4>
      {% include "supply-kit.html" with zones=data.impact_zones %}
    </div>

    <div class="small-2 medium-1 column">
      <div class="section-icon home"></div>
    </div>
    <div class="small-10 medium-5 column">
    <h4 class="caps">Your Home</h4>
    {% if data.structured.prepare.shake_snugs %}
      {% for snugget in data.structured.prepare.shake_snugs %}
        {% if snugget.sub_section.name != "header" %}
          {% show_snugget snugget %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% for snugget in data.structured.prepare.deform_snugs %}
      {% if snugget.sub_section.name != "header" %}
        {% show_snugget snugget %}
      {% endif %}
    {% endfor %}
    </div>
  </div>


  <div class="row">
    <div class="small-2 medium-1 column">
      <div class="section-icon routes"></div>
    </div>
    <div class="small-10 medium-5 column">
      <h4 class="caps">Know Your Routes</h4>
      <p>Make sure your family and friends know where to gather after the earthquake and how to get there. You'll need a reconnection plan. Do you cross a bridge on your way to school or work? It could be unsafe to cross after an earthquake. Do you need an evacuation route? If you're in the tsunami zone, you do. <a href="http://www.oregongeology.org/tsuclearinghouse/">Find your route.</a></p>
      <p>Also be aware that some major roads won't be safe or passable during and after an earthquake. Contact your local public works department or <a href="http://www.oregon.gov/omd/oem/pages/index.aspx">Office of Emergency Management</a> in advance to find out which routes could potentially be impassable in your area.</p>
    </div>

    <div class="small-2 medium-1 column">
      <div class="section-icon leader"></div>
    </div>
    <div class="small-10 medium-5 column">
      <h4 class="caps">Know Your Leaders</h4>
      <p>Contacting local officials with questions and concerns can further preparedness efforts in your community. Recommended people to contact: building officials, who can assess vulnerable structures, local emergency planning committees, and <a href="http://www.commoncause.org/take-action/find-elected-officials/">elected officials</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-2 medium-1 column">
      <div class="section-icon community"></div>
    </div>
    <div class="small-10 medium-5 column end">
      <h4 class="caps">The Importance of Community</h4>
      <p>The most crucial thing you can do to increase the resiliency of your community is connect with your neighbors to plan as a group. One way to do this is through Community Emergency Response Teams. <a href="https://www.fema.gov/community-emergency-response-teams">Find out how to join or start a community team.</a></p>
    </div>
  </div>

{% endblock main-content %}
