      <div id="geek-bar" class="orange-bg">
        <div class="row">
          <div class="column">
            <div class="vert-pad-small center white sans-serif">
              <a href="#">Data sources &amp; credits</a>
            </div>
          </div>
        </div>
      </div>

      <div id="geek-content" class="white-bg below-arrow hide">
        <div class="row">
          <div class="large-offset-2 large-8 columns end">
            <div class="vert-pad-large">
              <p class="sans-serif center">HOW DOES IT WORK?</p>
              <p>Personalized reports are driven by data modeled by the Oregon Department of Geology and Mineral Industries. Geographic data sets of Oregon include: expected shaking, tsunami zone, soil liquefaction PGD, landslide PGD and impact zones determined by the Oregon Resilience Report. All data sets are created with best estimates around the Cascadia quake. The descriptions of risk and how to prepare for those risks are written based off best estimates from DOGMAI, OSSPAC, The Red Cross and FEMA. It’s impossible to be perfectly prepared for a natural disaster, but Aftershock tries to deliver the most accurate information in an efficient way to make Oregonians more prepared in the case of the Cascadia earthquake.</p>
              <p class="sans-serif center">WHO MADE THIS?</p>
              <p>Aftershock is a product of “Storytelling With Data” hosted by The University of Oregon School of Journalism and Communication Agora Journalism Center and Hack Oregon. The team included Andrew Haddock, Weston Wedding and Brandon Stump of Sticky, Dan Logan of Portland State University, Geoff Ostrove of the University of Oregon, and Jason Bernert and Tony Schick of OPB.</p>
            </div>
          </div>
        </div>
      </div>