<div id="geek-box" class="row vert-pad-medium">
  <div class="small-12 medium-6 columns">
      <h6 class="caps">How does it work?</h6>
      <p>This site is designed to help people prepare for disasters that can occur in their area. {{ location.about_text }}</p>
      <p>Have questions? Click <a href="mailto:{{ location.contact_email }}">here</a> to email the maintainers.</p>
  </div>
  <div class="small-12 medium-6 columns">
      <h6 class="caps">Who made this?</h6>
      <p>This was based on <a href="http://opb.org/aftershock">Aftershock</a>. Carson MacPherson-Krutsky at the Unversity of Montana had the idea to make it available for other locales and types of disasters. It was adapted by Melinda Minch and Eldan Goldenberg for that purpose.</p>

      <h6 class="caps">Is this available for other locations?</h6>
      <p>You can make it available! If you can put up a webserver and you have the data, you can set this up. Visit us on <a href="https://github.com/missoula-ready/disaster-preparedness">Github</a> for more information.</p>
  </div>
</div>
