<div id="geek-box" class="row vert-pad-medium">
  <div class="small-12 medium-6 columns">
      <h6 class="caps">How does it work?</h6>
      <p>Aftershock is designed to help Oregonians prepare for the pending Cascadia earthquake. It’s impossible to perfectly predict the outcome of a natural disaster.  However, several state agencies have released predictions on how a 9.0 earthquake from the Cascadia fault line would affect Oregon. Aftershock aims to organize and deliver that information in a way that makes it accessible any Oregonian.</p>
      <p>Aftershock uses data modeled by the Oregon Department of Geology and Mineral Industries. Geographic data sets include: expected shaking, tsunami zone, soil liquefaction, landslides and impact zones ¬– determined by the Oregon Resilience Report. The descriptions of risk and how to prepare for those risks are based on best estimates from DOGAMI, OSSPAC, The Red Cross and Federal Emergency Management Agency. Data used for Aftershock is available for download <a href="https://www.dropbox.com/s/qefxqdddeqtlryq/AftershockDatabase.zip?dl=0">here</a>.  Have questions? Click here for more information (membercenter@opb.org).</p>
  </div>
  <div class="small-12 medium-6 columns">
      <h6 class="caps">Who made this?</h6>
      <p>Aftershock began during a weekend Storytelling with Data build-a-thon hosted by <a href="http://www.hackoregon.org/">Hack Oregon</a> and The University of Oregon School of Journalism and Communication <a href="http://agora.uoregon.edu/">Agora Journalism Center</a>. Contributions include: Oregon Public Broadcasting’s Jason Bernert and Tony Schick, Dan Logan of Portland State University, Geoff Ostrove of the University of Oregon, Andrew Haddock, Weston Wedding and Brandon Stump of <a href="http://sticky.tv/">Sticky</a>.</p>
  </div>
</div>
