{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Cascadia Earthquake Preparedness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true?key=AIzaSyBSZGyycuPZO0BBfJqO-RBFeKM7_icZUnk"></script>  
  <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</head>
<body>

  <div id="home">
    
    <div class="row">
      <div class="column">
        <h2 id="project-title">Cascadia Earthquake Prepareness</h2>
      </div>
    </div>
    
    <div id="map" class="row">
      <div class="column">
        <image id="map-image" src="">
      </div>
    </div>
    
    <div id="location-form" class="row">
      <div class="column">
        <form>
           <div class="row">
            <div class="column">
             <div class="row collapse postfix-radius">
                <div class="small-10 columns form-text-input">
                  <input id="location-text" type="text" placeholder="Enter address" />
                </div>
                <div class="small-1 column form-icon-button">
                  <a id="location-submit" class="button postfix">&#128269;</a>
                </div>
                <div class="small-1 column form-icon-button">
                  <a id="auto-location-submit" class="button postfix radius">&#9650;</a>
                </div>
              </div>
            </div>
           </div>
        </form>
      </div>
    </div>
    
    <div id="results">
      <div class="row">
        <div class="column">
          <h3 class="chapter-title">The Moment</h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="chapter-title">Community Recovery</h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="chapter-title">How to Prepare</h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h4>Snuggets found:</h4>
          <p>Impact Zone(s): {{ data.impact_zones }}</p>
          <ul>
          
          {% for groupname, group in data.groups.items %}
            <li>
            <p>Group: {{  groupname }}</p>
            <ul>
            {% for snugget in group %}
              <li><p>Snugget text: {{ snugget.temp_text_field }} </p>
              <p>Internal label: {{ snugget }} </p>
              </li>
            {% endfor %}
            </ul>
            </li>
          {% endfor %}
           
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
