{% extends "index.html" %}
{% load staticfiles %}

{% block map %}
  <div class="row">
    <div class="small-12 column">
      <div id="map" style="height: 300px;"></div>
    </div>
  </div>
{% endblock map %}


{% block main-content %}
    <div class="row vert-pad-medium">
        <div class="medium-8 column medium-push-1">
          <h3 class="caps">No information availab.e</h3>
          <div class="chapter-content underline">
            <p>It looks like your location is outside of {{ location.area_name }}.</p>
            <p>While we value and promote resilience everywhere, the data that powers this site isn't available for other places.</p>
        </div>
      </div>
    </div>
{% endblock main-content %}
