{% block snugget-content %}
  {% if snugget.sub_section.name == "Intensity" %}
    <div class="intensity">
      <div class="intensity-meter">
        {% if snugget.image %}
          <img src="static/img/{{ snugget.image }}">
        {% elif snugget.dynamic_image %}
          {{ snugget.dynamic_image | safe }}
        {% endif %}
      </div>
      <div class="intensity-content">
        {{ snugget.content }}
      </div>
    </div>
    {% else %}
      <p>{{ snugget.content }}</p>
  {% endif %}
{% endblock %}
