{% load staticfiles %}

      <div class="purple-bg">
        <div class="row">
          <div class="column">
            <div class="social center white sans-serif">
              <p class="title">Get seismic on social.</h3>
              <p class="secondary">Help prepare your friends, family, and community.</p>
              <p class="hashtag">#UnpreparedNW</p>
              <div class="icon-links">
                <img src="{% static 'img/icon-email.svg' %}" alt="Email">
                <img src="{% static 'img/icon-twitter.svg' %}" alt="Twitter">
                <img src="{% static 'img/icon-facebook.svg' %}" alt="Facebook">
              </div>
            </div>
          </div>
        </div>
      </div>
