{% load staticfiles %}

      <div class="purple-bg">
        <div class="row">
          <div class="column">
            <div class="social center white sans-serif">
              <p class="title">Get seismic on social.</h3>
              <p class="secondary">Help prepare your friends, family, and community.</p>
              <p class="hashtag">#UnpreparedNW</p>
              <div>
                <a href="#" class="social-icon facebook"></a>
                <a href="#" class="social-icon twitter"></a>
                <a href="#" class="social-icon email"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
