{% load staticfiles %}

    <div class="row vert-pad-medium">
      <div class="column text-center">
          <h3 class="caps">Share your story.</h3>
          <p class="sans-serif">Help prepare your friends, family, and community.</p>
          <h3>#UnpreparedNW</h3>
          <div>
            <a href="#social" class="social-icon facebook" data-site="facebook"><a/>
            <a href="#social" class="social-icon twitter" data-site="twitter"></a>
            <a href="mailto: ?subject=Earthquake%20Drill%20-%20get%20prepared%20with%20Aftershock.&body=The%20new%20Aftershock%20app%20gives%20you%20a%20personalized%20report%20on%20how%20the%20Cascadia%20earthquake%20will%20impact%20you%20and%20your%20community.%0A%0ABased%20on%20your%20address%2C%20get%20information%20on%20some%20of%20the%20risks%20you%E2%80%99ll%20face%20and%20how%20to%20prepare.%0A%0AAftershock%20-%20http%3A%2F%2Ftiny.cc%2Fgjerxx%0A%0AAftershock%20is%20a%20product%20of%20OPB%2C%20Sticky%20Co.%2C%20Hack%20Oregon%2C%20and%20University%20of%20Oregon%20School%20of%20Journalism%20and%20Communication.%20" class="social-icon email"></a>
          </div>
      </div>
    </div>
