{% load staticfiles %}
      <p>Experts suggest you have the following:</p>
{% for zone in zones %}
  {% if zone.zoneid == 1 %}
      <div class="supply-kit sans-serif orange">
        <div class="clearfix">
          <div class="supply-kit-icon left"></div>
          <div class="big-num left">4</div>
          <div class="text-label left">Weeks of supplies</br><span>per person</span></div>
        </div>
        <div class="clearfix">
          <div class="supply-kit-icon water left"></div>
          <div class="big-num left">28</div>
          <div class="text-label left">Gallons of water</br><span>per person</span></div>
        </div> 
        <div class="clearfix">
          <div class="supply-kit-icon food left"></div>
          <div class="big-num left">84</div>
          <div class="text-label left">Meals</br><span>per person</span></div>
        </div>
      </div>
  {% elif zone.zoneid == 2 %}
      <div class="supply-kit sans-serif orange">
        <div class="clearfix">
          <div class="supply-kit-icon left"></div>
          <div class="big-num left">4</div>
          <div class="text-label left">Weeks of supplies</br><span>per person</span></div>
        </div>
        <div class="clearfix">
          <div class="supply-kit-icon water left"></div>
          <div class="big-num left">28</div>
          <div class="text-label left">Gallons of water</br><span>per person</span></div>
        </div> 
        <div class="clearfix">
          <div class="supply-kit-icon food left"></div>
          <div class="big-num left">84</div>
          <div class="text-label left">Meals</br><span>per person</span></div>
        </div>
      </div>
  {% elif zone.zoneid == 3 %}
      <div class="supply-kit sans-serif orange">
        <div class="clearfix">
          <div class="supply-kit-icon left"></div>
          <div class="big-num left">2</div>
          <div class="text-label left">Weeks of supplies</br><span>per person</span></div>
        </div>
        <div class="clearfix">
          <div class="supply-kit-icon water left"></div>
          <div class="big-num left">14</div>
          <div class="text-label left">Gallons of water</br><span>per person</span></div>
        </div> 
        <div class="clearfix">
          <div class="supply-kit-icon food left"></div>
          <div class="big-num left">42</div>
          <div class="text-label left">Meals</br><span>per person</span></div>
        </div>
      </div>
  {% elif zone.zoneid == 4 %}
      <div class="supply-kit sans-serif orange">
        <div class="clearfix">
          <div class="supply-kit-icon left"></div>
          <div class="big-num left">2</div>
          <div class="text-label left">Weeks of supplies</br><span>per person</span></div>
        </div>
        <div class="clearfix">
          <div class="supply-kit-icon water left"></div>
          <div class="big-num left">14</div>
          <div class="text-label left">Gallons of water</br><span>per person</span></div>
        </div> 
        <div class="clearfix">
          <div class="supply-kit-icon food left"></div>
          <div class="big-num left">42</div>
          <div class="text-label left">Meals</br><span>per person</span></div>
        </div>
      </div>
  {% endif %}
{% endfor %}
      <p>For more information on making your kit, check out these emergency supply lists from <a href="http://www.opb.org/news/series/unprepared/a-visual-guide-to-emergency-supplies-everyone-needs/">Oregon Public Broadcasting</a> and <a href="http://www.redcross.org/prepare/location/home-family/get-kit">American Red Cross</a>.</p>
