{% load staticfiles %}

      <div class="row">
        <div class="column">
          <div class="sub-title">Building Your Supply Kit</div>
          <p class="serif-font">Experts suggest you have the following:</p>
        </div>
      </div>

{% for zone in zones %}
  {% if zone.zoneid == 2 %}
      <div class="row">
        <div class="column">
          <img src="{% static 'img/4weekkit.svg' %}" alt="Recovery Graph">
        </div>
      </div>
  {% elif zone.zoneid == 3 %}
      <div class="row">
        <div class="column">
          <img src="{% static 'img/2weekkit.svg' %}" alt="Recovery Graph">
        </div>
      </div>
  {% elif zone.zoneid == 4 %}
      <div class="row">
        <div class="column">
          <img src="{% static 'img/2weekkit.svg' %}" alt="Recovery Graph">
        </div>
      </div>
  {% endif %}
{% endfor %}