{% load staticfiles %}

    <div class="orange-bg">
      <div class="row">
        <div class="column">
          <div class="project-title sans-serif bold white"><a href="{% url 'index' %}">Aftershock</a></div>
        </div>
      </div>
    </div>
    
    <div class="purple-bg">
      <div class="row">
        <div class="column">
          <div class="project-subtitle bold orange">Customized earthquake information for Oregon</div>
        </div>
      </div>    
      <div class="row">
        <div class="column">
          <div class="location-label bold white">Your localized report for:</div>
        </div>
      </div>    
      <div class="row location-form">
        <div class="column">
          <form>
             <div class="row">
              <div class="column">
               <div class="row collapse postfix-radius">
                  <div class="small-10 columns form-text-input">
                    <input id="location-text" type="text" placeholder="Enter your location" />
                  </div>
                  <div class="small-1 column form-icon-button">
                    <a id="location-submit" class="orange-bg button postfix"></a>
                  </div>
                  <div class="small-1 column form-icon-button">
                    <a id="auto-location-submit" class="orange-bg button postfix radius"></a>
                  </div>
                </div>
              </div>
             </div>
          </form>
        </div>
      </div>
      <div class="center crop-height">
          <image id="map-image" src="" />
      </div>
    </div>
