    <div id="welcome">
      <div class="row">
        <div class="column">
          <p>When, not if, the next great Cascadia subduction zone earthquake strikes the Pacific Northwest, Oregon will face the greatest challenge in its history. Oregon’s buildings, transportation network, utilities, and population are simply not prepared for such an event. Were it to occur today, thousands of Oregonians would die, and economic losses would be at least $32 billion. In their current state, our buildings and lifelines would be damaged so severely that it would take three months to a year to restore full service in the western valleys, more than a year in the hardest-hit coastal areas, and many years in the coastal communities inundated by the tsunami. Experience from past disasters has shown that businesses will move or fail if services cannot be restored in one month; so Oregon faces a very real threat of permanent population loss and long-term economic decline.</p>
        </div>
      </div>
    </div>
