/* About page */
.about-container {
  background-color: $white;
  margin: 10px 0;
  padding: 5px 10px 10px;

  @include breakpoint(medium) {
    margin: 20px 0;
    padding: 5px 20px 20px;
  }

  @include breakpoint(large-and-up) {
    margin: 40px 0;
    padding: 5px 40px 40px;
  }
}

.about-container--hazardready {
  background-color: $dark-grey;
  color: $soft-white;

  a {
    color: $low-intensity;
  }
  a:hover,
  a:visited,
  a:active {
    color: $bright-accent;
  }
}

.about--hazardready {
  text-align: center;
  color: $soft-white;
}

.hazardready-container {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.hazardready-container ul {
  list-style: none;
  padding: 0;
}

.partner-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-logo {
  margin: 10px;
  vertical-align: middle;
  width: 100px;
}

.hazardready-logo {
  width: 275px;
}

.about-content__flowchart {
  margin: 0 auto;
  max-width: 500px;
}

.about-content__text {
  margin: 20px auto 0;
  max-width: 800px;
}

.bio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  flex: 1 1 350px;
  margin: 10px;
  max-width: 350px;
  padding: 16px;
}

.bio--becks {
  background-color: $very-high-intensity;
}

.bio--melinda {
  background-color: $moderate-intensity;
}

.bio--carson {
  background-color: $extreme-intensity;
}

.bio--grant {
  background-color: $high-intensity;
}

.bio--courtenay {
  background-color: $low-intensity;
}

.bio__image {
  padding-bottom: 10px;
}

.bio__other {
  background-color: $white;
  flex: 1 1 250px;
}

.bio__name {
  border-bottom: 2px solid $light-grey;
  margin-top: 12px;
}

.bio__text {
  padding: 5px 20px;
}

.bio__links {
  margin: 0;
}

.linkedin-logo {
  background-color: $soft-black;
  border: 2px solid $soft-black;
}
