/* About page */
.about-container {
  background-color: $white;
  margin: 10px 0;
  padding: 5px 10px 10px;

  @include breakpoint(medium) {
    margin: 20px 0;
    padding: 5px 20px 20px;
  }

  @include breakpoint(large-and-up) {
    margin: 40px 0;
    padding: 5px 40px 40px;
  }
}

.about-container--hazardready {
  background-color: $dark-grey;
  color: $soft-white;

  a {
    color: $low-intensity;
  }
  a:hover,
  a:visited,
  a:active {
    color: $bright-accent;
  }
}

.about--hazardready {
  text-align: center;
  color: $soft-white;
}

.hazardready-container {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.hazardready-container ul {
  list-style: none;
  padding: 0;
}

.partner-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-logo {
  margin: 10px;
  vertical-align: middle;
  width: 100px;
}

.hazardready-logo {
  width: 275px;
}

.about-content__flowchart {
  margin: 0 auto;
  max-width: 500px;
}

.about-content__text {
  margin: 20px auto 0;
  max-width: 800px;
}

.bio {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }

  @include breakpoint(large-and-up) {
    margin-bottom: 40px;
    padding: 40px;
  }
}

.bio--becks {
  background-color: $very-high-intensity;

  @include breakpoint(medium-and-up) {
    flex-direction: row-reverse;
  }
}

.bio--carson {
  background-color: $extreme-intensity;
}

.bio--grant {
  background-color: $high-intensity;
}

.bio__image {
  flex: 1 1 250px;

  @include breakpoint(medium-and-up) {
    flex: 0 1 850px;
  }
}

.bio__other {
  @include breakpoint(medium) {
    flex: 1 1 auto;
    margin-inline-start: 10px;
  }

  @include breakpoint(large-and-up) {
    flex: 3 1 auto;
    margin-inline-start: 40px;
  }
}

.bio__other--reverse {
  @include breakpoint(medium-and-up) {
    margin-inline-start: 0;
    margin-inline-end: 10px;

    h4 {
      text-align: end;
    }
  }

  @include breakpoint(large-and-up) {
    margin-inline-end: 40px;
  }
}

.bio__name {
  border-bottom: 2px solid #ccc;
  margin-top: 12px;
}

.bio__text {
  background-color: $white;
  padding: 10px 20px;
}

.bio__links {
  margin: 15px 20px 5px;

  @include breakpoint(medium-and-up) {
    margin: 16px 0;
  }

  .link-icon {
    vertical-align: top;
  }
}

.bio__links--reverse {
  text-align: end;
}
