/* Header, search, and language picker styles */
header {
  display: flex;
  background-color: $white;
  flex-direction: column;
  padding: 2px 2px 10px 2px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
    padding: 5px;
  }

  @include breakpoint(large) {
    padding: 5px 20px;
  }
}

.logo__container {
  overflow: auto;
  position: relative;

  h3 {
    margin: 0 0 5px 0;
  }

  @include breakpoint(medium) {
    margin-right: 5px;
    min-width: 195px;
  }

  @include breakpoint(large) {
    margin-right: 10px;
    min-width: 228px;
  }
}

.logo--header {
  display: inline-block;
  max-height: 48px;

  @include breakpoint(medium) {
    max-height: 56px;
  }

  @include breakpoint(large) {
    max-height: 65px;
  }
}

.logo__text {
  display: inline-block;
  vertical-align: top;
}

.project-title {
  color: $dark-grey;
  font-family: $sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 10px 0px 0px;

  @include breakpoint(large) {
    font-size: 14px;
  }
}

.header__about {
  align-items: baseline;
  flex-shrink: 0;
  margin-left: auto;
}

.header__about--small {
  position: absolute;
  right: 10px;
  top: 15px;
}

.about__link {
  color: $soft-black;
  font-family: $sans-serif;
  font-size: 16px;
  line-height: $small-header-line-height;
  margin: 0;

  @include breakpoint(medium) {
    margin: 20px 5px 0 5px;
  }

  @include breakpoint(large) {
    font-size: 18px;
    margin: 20px 0 0 10px;
  }
}

/* Search */
.location-form {
  border-radius: 4px;
  border: solid 1px $light-grey;
  display: flex;
  flex: 2 1 auto;
  margin: 0 5px;
  position: relative;

  @include breakpoint(medium) {
    margin: 14px 5px 14px auto;
  }

  @include breakpoint(large) {
    margin: 14px 25px 14px auto;
    max-width: 800px;
  }
}

#location-text,
.mq-input {
  border: none;
  flex: 1 1 auto;
  line-height: 2;
  height: auto;
  margin: 2px 2px 2px 8px;
  min-width: 170px;
  text-overflow: ellipsis;
  z-index: $z-index-bottom;

  &:focus {
    outline: none;
  }
}

.mq-dropdown-menu {
  z-index: $z-index-high !important;
}

.mq-input-icon {
  right: 0;
}

#location-submit {
  background-color: $light-accent;
  border: 1px solid $light-accent;
  color: $white;
  flex-grow: 0;
  transition: background-color 1s;

  &:focus,
  &:hover {
    background-color: $dark-accent;
    border: 1px solid $dark-accent;
  }
}

#auto-location {
  background-color: $white;
  border: none;
  color: $light-accent;
  flex: 0 0 100px;
  font-weight: 600;
  line-height: 1.4;
  margin-left: auto;
  padding: 0;
  transition: color 1s;
  z-index: $z-index-next;

  &:focus,
  &:hover {
    background-color: $light-accent;
    color: $white;
  }
}

.icon--locate-me {
  height: 16px;
  margin: 3px 3px 3px 0;
  vertical-align: top;

  @include breakpoint(large-and-up) {
    height: 18px;
  }
}

#location-submit {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  flex-shrink: 0;
}

.icon--search {
  height: 20px;
  width: 20px;
  padding-top: 4px;
}

.geocode-error-message {
  color: $error-red;
  position: absolute;
  bottom: -38px;
  left: 5px;
}

/* Language Picker */

#language__form {
  width: auto;
  margin-left: 10px;

  @include breakpoint(medium-and-up) {
    margin-left: auto;
    margin-top: 15px;
  }
}

.language-icon {
  margin-right: 5px;
  vertical-align: top;
}

.language-icon--select {
  vertical-align: middle;
  margin-left: 10px;
}

.language__button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: $font-weight-bold;
  padding: 5px;
}

.survey-link {
  margin: 14px 5px;
  position: relative;
  text-decoration: none;

  @include breakpoint(medium) {
    position: absolute;
    top: 60px;
    left: 5%;
  }
}

.survey-button {
  background-color: $bright-accent;
  border-radius: 4px;
  color: $white;
  font-family: $serif;
  font-size: 18px;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
  padding: 8px;
  text-align: center;

  @include breakpoint(large) {
    font-size: 20px;
    min-width: 160px;
  }
}
