/* Header, search, and language picker styles */
header {
  display: flex;
  background-color: $white;
  flex-direction: column;
  padding: 2px 2px 10px 2px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
    padding: 5px;
  }

  @include breakpoint(large) {
    padding: 5px 20px;
  }
}

.logo__container {
  overflow: auto;
  margin: 0;
  position: relative;

  @include breakpoint(medium) {
    margin: 0 5px 0 0;
    min-width: 195px;
  }

  @include breakpoint(large) {
    margin: 0 10px 0 0;
    min-width: 228px;
  }
}

.logo--header {
  display: inline-block;
  max-height: 48px;

  @include breakpoint(medium) {
    max-height: 60px;
  }

  @include breakpoint(large) {
    max-height: 65px;
  }
}

.logo__text {
  display: inline-block;
  vertical-align: top;

  /* Nestle the text a little closer to the logo. */
  h3 {
    margin-left: -8px;
    margin-top: 12px;

    @include breakpoint(medium-and-up) {
      margin-left: -13px;
      margin-top: 20px;
    }
  }
}

.header__about {
  align-items: baseline;
  flex-shrink: 0;
  margin-left: auto;
}

.header__about--small {
  position: absolute;
  right: 10px;
  top: 8px;
}

.about__link {
  color: $soft-black;
  font-family: $sans-serif;
  font-size: 16px;
  line-height: $small-header-line-height;
  margin: 0;

  @include breakpoint(medium) {
    margin: 15px 5px 0 5px;
  }

  @include breakpoint(large) {
    font-size: 18px;
    margin: 15px 0 0 10px;
  }
}

/* Search */
.location-form {
  border-radius: 4px;
  border: solid 1px $light-grey;
  display: flex;
  flex: 2 1 auto;
  margin: 10px 5px 0;
  position: relative;

  @include breakpoint(medium) {
    margin: 14px 5px 14px auto;
  }

  @include breakpoint(large) {
    margin: 14px 30px 14px auto;
    max-width: 600px;
  }
}

#location-text,
.mq-input {
  border: none;
  flex: 1 1 auto;
  height: 40px;
  margin: 2px 2px 2px 8px;
  min-width: 170px;
  text-overflow: ellipsis;
  z-index: $z-index-bottom;

  &:focus {
    outline: none;
  }
}

.mq-dropdown-menu {
  z-index: $z-index-high !important;
}

.mq-input-icon {
  right: 0;
}

#location-submit {
  background-color: $light-accent;
  border: 1px solid $light-accent;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  flex-shrink: 0;
  padding: 4px 8px;

  &:focus,
  &:focus-within,
  &:active,
  &:hover {
    background-color: $dark-accent;
    border: 1px solid $dark-accent;
  }
}

#auto-location {
  background-color: $white;
  border: none;
  color: $light-accent;
  flex: 0 0 120px;
  font-weight: 600;
  line-height: 1.4;
  margin-left: auto;
  padding: 0;
  transition: color 1s;
  z-index: $z-index-next;

  &:focus,
  &:hover {
    background-color: $light-accent;
    color: $white;

    .target {
      fill: $white;
    }
  }
}

.icon--locate-me {
  margin: 3px 0;
  vertical-align: top;

  .target {
    fill: $light-accent;
    transition: color 1s;
  }

  @include breakpoint(large-and-up) {
    height: 18px;
  }
}

.icon--search {
  height: 20px;
  width: 20px;
  padding-top: 4px;
}

.geocode-error-message {
  color: $error-red;
  position: absolute;
  bottom: -38px;
  left: 5px;
}

/* Language Picker */

.language__form {
  width: auto;
  margin-left: 10px;

  @include breakpoint(medium) {
    margin-left: 15px;
    margin-top: 15px;
  }

  @include breakpoint(large) {
    margin-left: 30px;
    margin-top: 15px;
  }
}

.language-icon {
  margin-right: 5px;
  vertical-align: top;
}

.language-icon--select {
  vertical-align: middle;
  margin-left: 10px;
}

.language__button {
  border: none;
  background-color: $white;
  color: $soft-black;
  cursor: pointer;
  font-size: 18px;
  font-weight: $font-weight-bold;
  line-height: 1.5;
  padding: 5px;

  &:focus, &:focus-within, &:hover, &:active {
    background-color: $white;
    border: none;
  }
}
