.intro-container {
  background-color: $white;
  margin: 10px 0;
  padding: 5px 10px 10px;

  @include breakpoint(medium) {
    margin: 20px 0;
    padding: 5px 20px 20px;
  }

  @include breakpoint(large) {
    margin: 40px 0;
    padding: 5px 40px 40px;
  }
}

.information-header {
  margin-bottom: 5px;
}

.disclaimer-container {
  border-top: 2px solid $light-grey;
  margin: 10px 0;

  @include breakpoint(medium) {
    margin: 20px 0;
  }

  @include breakpoint(large) {
    margin: 40px 0;
  }
}