.information-container--landing {
  margin-top: 0;
}

.intro-container {
  background-color: $white;
  margin: 10px 0;
  padding: 5px 10px 10px;

  @include breakpoint(medium) {
    margin: 20px 0;
    padding: 5px 20px 20px;
  }

  @include breakpoint(large-and-up) {
    margin: 40px 0;
    padding: 5px 40px 40px;
  }
}

.information-header {
  margin-bottom: 5px;
}

.disclaimer-container {
  border-top: 2px solid $light-grey;
  margin: 10px 0;

  @include breakpoint(medium) {
    margin: 20px 0;
  }

  @include breakpoint(large-and-up) {
    margin: 40px 0;
  }
}

.risks-header {
  color: $dark-accent;
  font-size: 28px;
  font-weight: $font-weight-semibold;

  @include breakpoint(large-and-up) {
    font-size: 32px;
  }
}
