/* login and sign in */

.user--form {
  display: flex;
  flex-direction: column;
}

.user-interaction__buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: start;
  padding-top: 10px;

  @include breakpoint(medium-and-up) {
    padding-top: 0;
  }

  button {
    margin-inline-end: 0.5rem;

    @include breakpoint(medium-and-up) {
      margin-inline-end: 1.5rem;
    }
  }
}

.user-interaction__fields {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 10px;

  label {
    display: flex;
    flex-direction: column;
  }

  @include breakpoint(medium-and-up) {
    margin-inline-end: 20px;
  }
}

.user-interactions-help {
  padding-top: 1rem;
}

.user--ui {
  input {
    margin: 5px 0 10px;
    display: block;
  }
}

.username {
  font-weight: $font-weight-bold;
}

.user-interaction__error {
  color: $error-red;
  font-weight: $font-weight-bold;
}

.errorlist {
  list-style: none;
  color: $error-red;
  font-weight: $font-weight-bold;
}
