/* login and sign in */

.user-interaction__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

.user-interactions-help {
  padding-top: 1rem;
}

.user--ui {
  input {
    margin: 10px 0;
  }
}

.username {
  font-weight: $font-weight-bold;
}
