/* Information and Instructions */
.map-info-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding-bottom: 30px;
  transition: 0.5s background-color ease, 0.5s min-height ease;

  .survey-link {
    display: none;
  }

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }
}

.map-info-container.sticky {
  background-color: $light-grey;
  box-shadow: 0 1px 3px;
  min-height: 136px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: $z-index-top;

  .information-container {
    margin: 0;
  }

  .info__hazards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .map-container {
    display: none;
  }

  .link--grey {
    border-color: $dark-grey;
  }

  .hazard-link, .prepare-link {
    color: $dark-accent;
    border: none;
    margin: 0 10px;

    &:focus, &:hover, &:active {
      border-bottom: 2px solid $bright-accent;
      color: $bright-accent;
    }
  }

  .hazard-comma {
    display: none;
  }

  .survey-link {
    display: block;

    @include breakpoint(medium) {
      position: absolute;
      top: 86px;
      left: 70%;
    }
  }
}

.information-container {
  flex-grow: 1;
  margin: 0 auto 20px;

  @include breakpoint(medium) {
    margin-right: 10px;
    margin-top: 10px;
  }

  @include breakpoint(large) {
    margin-right: 20px;
    margin-top: 30px;
  }
}

.info__header {
  font-weight: $font-weight-regular;
}

.info__start-over {
  color: $dark-grey;
  font-weight: $font-weight-regular;
}

.info__hazards {
  display: block;
  margin-top: 20px;

  @include breakpoint(medium-and-up) {
    margin-top: 40px;
  }
}

.hazard-link, .prepare-link {
  color: $bright-accent;
  border-bottom: 2px solid $bright-accent;
  margin: 0;
  text-decoration: none;

  &:focus, &:hover, &:active {
    border-bottom: 2px solid $dark-accent;
    color: $dark-accent;
  }
}

.hazard-comma {
  color: $dark-grey;
  display: inline;
}

/* Map */
.map-container {
  flex-grow: 2;
  height: 400px;
  min-width: 50%;
}

#map {
  height: 100%;
  width: 100%;
}

/* overriding Leaflet defaults */
/* Change cursor when mousing over the area masked because it's outside the covered area */
.leaflet-clickable {
  cursor: not-allowed;
}
/* Change cursor when over the area users can click in */
.leaflet-container {
  cursor: default;
}
