/* Information and Instructions */
.map-info-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding-bottom: 30px;
  transition: 0.5s all ease-in-out;

  .survey-link {
    display: none;
  }

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }
}

.map-info-container.sticky {
  background-color: $deep-grey;
  color: $soft-white;
  min-height: 136px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: $z-index-top;

  @include breakpoint(medium) {
    padding-left: 60px;
  }

  @include breakpoint(large) {
    padding-left: 100px;
  }

  .information-container {
    margin: 0;
  }

  .info__hazards {
    margin-top: 10px;
  }

  .map-container {
    display: none;
  }

  .survey-link {
    display: block;

    @include breakpoint(medium) {
      position: absolute;
      top: 86px;
      left: 70%;
    }
  }

  .link--grey{
    color: $low-intensity;
  }

  h1 {
    color: $soft-white;
  }
}

.information-container {
  flex-grow: 1;
  margin: 0 auto 20px;

  @include breakpoint(medium) {
    margin-right: 10px;
    margin-top: 10px;
  }

  @include breakpoint(large) {
    margin-right: 20px;
    margin-top: 30px;
  }
}

.info__header {
  font-weight: $font-weight-regular;
}

.info__start-over {
  color: $dark-grey;
  font-weight: $font-weight-regular;
}

.info__hazards {
  margin-top: 20px;

  @include breakpoint(medium-and-up) {
    margin-top: 40px;
  }
}

.hazard-link {
  border-bottom: 2px solid $bright-accent;
  color: $bright-accent;
  text-decoration: none;
}

/* Map */
.map-container {
  flex-grow: 2;
  height: 400px;
  min-width: 50%;
}

#map {
  height: 100%;
  width: 100%;
}

/* overriding Leaflet defaults */
/* Change cursor when mousing over the area masked because it's outside the covered area */
.leaflet-clickable {
  cursor: not-allowed;
}
/* Change cursor when over the area users can click in */
.leaflet-container {
  cursor: default;
}
