/* Disaster tabs */

.disaster-container {
  background-color: $white;
  margin: 10px 0;
  padding: 5px 10px 10px;
  position: relative;

  @include breakpoint(medium) {
    margin: 20px 0;
    padding: 5px 20px 20px;
  }

  @include breakpoint(large) {
    margin: 40px 0;
    padding: 5px 40px 40px;
  }
}

/* Sections */
.section-title--static {
  color: $soft-black;
  margin: 20px 0 5px 0;

  @include breakpoint(large) {
    margin: 20px 0 10px 0;
  }
}

.section-title--collapse {
  display: flex; // Fold caret aside wrapped text nicely on smaller sizes
  border-bottom: 2px solid $light-grey;
  cursor: pointer;
  margin-left: 5px;
}

.caret {
  vertical-align: middle;
  margin-right: 10px;
}

.caret--up {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 9000px;
  overflow: hidden;

  @include breakpoint(large) {
    flex-direction: row;
  }
}

.section-content--collapse {
  max-height: 0;
}

.section-content--static {
  max-height: none;
  position: relative;
  overflow: visible;
}

.disaster-content__note {
  background-color: $ghost-grey;
  border: 2px solid $medium-grey;
  border-top-width: 6px;
  margin: 20px 0;
  padding: 10px;
}

/* Snugget content */
.snugget__content {
  flex: 0 1 auto;
  ul {
    margin: 5px 0;

    @include breakpoint(large) {
      margin: 10px 0;
    }
    padding-left: 0;
  }

  li {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;

    @include breakpoint(large) {
      margin: 10px 0;
    }
  }
}

.snugget__popout {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-between;

  @include breakpoint(large) {
    /* width is to accommodate the youtube embed */
    width: 380px;
  }
}

.snugget__content a,
.snugget__popout a {
  text-decoration: none;
  border-bottom: 2px solid $light-grey;
  color: $soft-black;

  &:visited,
  &:hover {
    color: $dark-grey;
  }
}

.popout-content {
  background-color: $popout-background;
  border: 2px solid $bright-accent;
  border-top-width: 6px;
  flex: 0 0 auto;
  margin: 10px 0 0 0;
  max-width: 100%;
  padding: 10px;

  h3, h4 {
    color: $dark-accent;
    font-size: 16px;
    margin: 10px 0 0 0;

    @include breakpoint(large) {
      font-size: 18px;
    }
  }
  p {
    margin: 0;
    text-align: center;

    @include breakpoint(large) {
      text-align: left;
    }
  }

  @include breakpoint(large) {
    margin: 0 0 20px 10px;
  }
}

.popout__video {
  text-align: center;
  width: 100%;
}

.popout__image {
  width: 100%;
  text-align: center;

  @include breakpoint(large) {
    min-width: 175px;
    max-width: 100%;
  }
}

/* Intensity meter */
.intensity-meter {
  background: linear-gradient(
    to right,
    $low-intensity 1%,
    $moderate-intensity 10%,
    $high-intensity,
    $very-high-intensity 90%,
    $extreme-intensity 99%
  );
  margin-top: 40px;
  position: relative;
  height: 18px;
  width: auto;

  @include breakpoint(large) {
    margin-top: 50px;
  }
}

.intensity-marker {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 2px;
  background-color: $dark-grey;

  &:before {
    color: $dark-grey;
    content: "\25BC";
    font-size: 36px;
    top: -40px;
    position: absolute;
    left: -17px;
    text-align: center;
  }
}

.intensity-label {
  color: $dark-grey;
  font-size: 14px;
  position: absolute;
  top: -32px;
}

.intensity-captions {
  margin-bottom: 50px;
  position: relative;
  width: auto;
}

.intensity-caption {
  color: $dark-grey;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  width: 32%;

  @include breakpoint(medium-and-up) {
    width: auto;
  }
}

.intensity-caption--low {
  left: 0;
}

.intensity-caption--high {
  right: 0;
  text-align: right;
}

/* Historical photos */

.past-photos {
  max-width: 100%;

  @include breakpoint(large) {
    width: 345px;
  }
}

.slideshow-image {
  margin: 0 auto;
  max-height: 275px;

  @include breakpoint(medium) {
    max-height: 380px;
  }

  @include breakpoint(large) {
    max-height: 275px;
  }
}

.past-photo__caption {
  margin-top: 10px;
}

/* Arrows for photo slider */
.slick-prev {
  left: 0 !important;
  top: 36%;
  width: 36px;
  z-index: 9;
}

.slick-next {
  right: 0 !important;
  top: 36%;
  width: 36px;
  z-index: 9;
}

.slick-prev::before,
.slick-next::before {
  color: #ccc;
  font-size: 36px;

  &:hover {
    color: #fff;
  }
}

@media print {
  .info__start-over,
  .map-container,
  .hazard-container,
  .popout-content,
  .intensity-meter,
  .intensity-captions {
    display: none !important;
  }

  .popout-content {
    max-height: 500px;
  }

  .hero-container {
    min-height: 0;
  }

  .hero-container.sticky {
    box-shadow: none;
    min-height: 0;
    position: relative
  }

  .disaster-container {
    margin: 10px 0;
    padding: 0;

    h2 {
      padding: 0;
      page-break-after: avoid;
    }
  }

  .section-content--collapse {
    max-height: none;
  }
}
