/* Colors */
$black: #000;
$black-tint: rgba(255, 255, 255, 0.5);
$soft-black: #2c2c2c;
$dark-grey: #444;
$medium-grey: #999;
$pale-grey: #e1e1e1;
$soft-white: #f2f2f2;
$white: #fff;

$dark-main-color: #444;
$light-main-color: #9999aa;

$cool-contrast: #004444;
$dark-contrast: #f03b20;
$light-contrast: #fd8d3c;

$low-intensity: #ffffb2;
$moderate-intensity: #fed976;
$high-intensity: #feb24c;
$very-high-intensity: #fd8d3c;
$extreme-intensity: #f03b20;

$error-red: #5e001d;

/* Typography */

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;

/* Z-order */
$z-index-high: 1001;

/* Breakpoints! */
@mixin breakpoint($point) {
  @if $point == medium {
    @media only screen and (min-width: 26rem) and (max-width: 40rem) {
      @content;
    }
  } @else if $point == medium-and-up {
    @media only screen and (min-width: 26rem) {
      @content;
    }
  } @else if $point == large {
    @media only screen and (min-width: 40rem) {
      @content;
    }
  }
}

/* Main elements */

html {
  width: auto !important;
  height: auto !important;
}

body {
  height: auto !important;
  width: auto !important;
  font-family: $serif;
  color: $dark-grey;
}

h1 {
  font-size: 2.3125rem;
}

h2 {
  line-height: 1.5rem;
  font-size: 1.6875rem;
  font-weight: bold;

  @include breakpoint(large) {
    line-height: 1.75rem;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;

  @include breakpoint(large) {
    font-size: 1.4375rem;
  }
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  @include breakpoint(large) {
    font-size: 1.2rem;
  }
}

label {
  color: $white;
}

/* Utility styles */

.hide {
  display: none;
}

.hide-for-small {
  display: none;

  @include breakpoint(medium-and-up) {
    display: inline;
  }
}

.hide-for-medium-up {
  display: inline;

  @include breakpoint(medium-and-up) {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sans-serif {
  font-family: $sans-serif;
}
.vert-pad-medium {
  padding: 2em 0;
}
.caps {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: bold;
}

/* Header */

#title a {
  font-size: 1.25em;
  font-weight: bold;
  color: $dark-main-color;

  &:hover {
    color: $dark-main-color;
  }

  .button--top {
    position: absolute;
    right: 5px;
    font-size: 0.75em;
    width: 90px;

    @include breakpoint(medium-and-up) {
      width: auto;
    }

    @include breakpoint(large) {
      font-size: 1em;
    }
  }
}

.title-image {
  display: block;
  max-height: 50px;
  margin: 0 auto;

  @include breakpoint(large) {
    display: inline;
    margin: auto;
    max-height: unset;
  }
}

.title-header {
  padding: 5px;
  background-color: $light-main-color;

  h2 {
    color: $white;
    text-align: center;
  }
}

.top-header {
  max-width: none;
}

.project-title .project-subtitle {
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
  line-height: 1.5em;
  padding-top: 1rem;

  @include breakpoint(medium-and-up) {
    font-size: 2rem;
    line-height: 1.2em;
  }
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.2em;

  @include breakpoint(medium-and-up) {
    font-size: 20px;
    line-height: 1.2em;
  }
}

/* Information and Instructions */

.information-instructions {
  max-width: 1000px;
  margin: 0 auto;
}

.information-container {
  background-color: $dark-main-color;
  color: $white;
  padding: 15px;
  a {
    color: $white;
    font-weight: bold;
  }
}

/* Map and Search */

.location-form {
  background-color: $dark-main-color;
  padding-bottom: 10px;

  @include breakpoint(large) {
    padding-left: 100px; /* make it line up with the text in the header, not the image */
  }
}

.form-icon-button {
  text-align: center;

  @include breakpoint(large) {
    text-align: left;
  }
}

.location-label {
  font-size: 22px;
  line-height: 1.2em;
}

.location-instructions {
  display: block;
}

#location-text {
  color: $dark-main-color;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3em;
  border-color: $pale-grey;
  border-width: 1px;

  &:disabled {
    border-color: $medium-grey;
    color: $medium-grey;
  }

  ::-webkit-input-placeholder {
    color: $dark-main-color;
  }
  :-moz-placeholder {
    color: $dark-main-color;
  }
  ::-moz-placeholder {
    color: $dark-main-color;
  }
  :-ms-input-placeholder {
    color: $dark-main-color;
  }

  @include breakpoint(medium-and-up) {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
}

#location-submit {
  background-image: url(../img/icon-search.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  border-radius: 0 3px 3px 0;
}

.auto-location-submit,
.button--top {
  border-radius: 3px;
  padding: 9px 1em;
}

.auto-location-submit {
  margin-left: 1em;
  margin-bottom: 0;

  @include breakpoint(medium-and-up) {
    margin: auto;
  }
}

.geocode-error-message {
  color: $error-red;
}

#map {
  height: 180px;
  @include breakpoint(medium-and-up) {
    height: 400px;
  }
}

.map-container {
  padding-top: 1rem;
}

/* overriding Leaflet defaults */
/* Change cursor when mousing over the area masked because it's outside the covered area */
.leaflet-clickable {
  cursor: not-allowed;
}
/* Change cursor when over the area users can click in */
.leaflet-container {
  cursor: default;
}

/* loading spinner during geolocation */
.loading {
  position: fixed;
  z-index: $z-index-high;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black-tint;
  text-align: center;
}

.loading-spinner {
  max-width: 40%;
}

.loading-text {
  color: $white;
  margin: 10px 0;

  @include breakpoint(medium) {
    margin: 30px 0 10px;
  }

  @include breakpoint(large) {
    margin: 200px 0 50px;
  }
}

/* Forms */

.button {
  margin: 0;
  padding: 9px 1em;

  @include breakpoint(medium-and-up) {
  }
}

.button,
.select {
  border-color: $light-contrast;
  background-color: $light-contrast;
  font-size: 12px;

  &:hover,
  &:focus {
    background-color: $dark-contrast;
  }

  @include breakpoint(large) {
    font-size: 1rem;
  }
}

input:invalid {
  border-color: $dark-contrast;
  border-width: 2px;
}

.select {
  height: 38px;
  width: auto;
}

/* login and sign in */

#user-interaction-container {
  background-color: $soft-white;
}

.user-interaction__buttons {
  text-align: center;

  @include breakpoint(medium-and-up) {
    text-align: right;
  }

  .button:not(:last-child) {
    margin-right: 1rem;
    @include breakpoint(medium-and-up) {
      margin-right: 2rem;
    }

    @include breakpoint(large) {
      margin-right: 0.5rem;
    }
  }
}

.user-interactions-help {
  padding-top: 1rem;
  font-size: 0.75em;
}

#user-interaction-container label {
  color: $dark-main-color;
}

#user-info-container,
#user-info-container--invalid,
#user-signup-result-container,
#user-login-container,
#user-signup-container,
#user-profile-container,
#user-profile-result-container,
#failure-container {
  display: none;
}

/* Language Picker */

#language__form {
  width: auto;
  position: absolute;
  left: 5px;
}

.select--language {
  padding: 0.5em;
}

/* Disaster tabs */

.disaster-content {
  background-color: $white;
  margin: 5px;
  max-width: 99%;
  padding: 5px;
}

.disaster-tabs-content {
  background-color: $light-main-color;
}

.disaster-container {
  padding-top: 20px;
}

.disaster-container__title {
  margin-bottom: 20px;
  text-align: center;
}

.tab-title {
  font-size: 16px;
  font-weight: bold;
}

.disaster-tabs {
  background-color: $light-main-color;
  padding: 5px;
}

.likely-scenario {
  background-color: $dark-main-color;
  color: $white;
  padding: 10px;
  margin-top: -15px;
  p {
    font-size: 1rem;
    margin-bottom: 0;

    @include breakpoint(medium-and-up) {
      font-size: 1.2em;
    }
  }
}

/* Sections */

.section-content {
  padding: 0;
  @include breakpoint(large) {
    padding-left: 20px;
  }
}

.section-icon--link {
  background: transparent url(../img/link.svg) no-repeat 0 0;
}

.section-icon--supply-kit {
  background: transparent url(../img/supplykit.svg) no-repeat 0 0;
}

.section-icon--community {
  background: transparent url(../img/community.svg) no-repeat 0 0;
}

.section-icon--What {
  background: transparent url(../img/question.svg) no-repeat 0 0;
}

.section-icon--Past {
  background: transparent url(../img/clock.svg) no-repeat 0 0;
}

.section-icon--How {
  background: transparent url(../img/prepare.svg) no-repeat 0 0;
}

.section-icon {
  background-size: 50px auto;

  display: inline-block;
  margin-top: 0.2rem;
  width: 50px;
  height: 50px;

  @include breakpoint(medium-and-up) {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
  }
}

.section-icon--dynamic {
  width: 100%;
}

.section-title {
  font-size: 1.2rem;
  margin-left: 55px;
  line-height: 3em;
  text-transform: uppercase;

  @include breakpoint(medium-and-up) {
    font-size: 1.75rem;
    margin-left: 90px;
  }
}

/* Snugget content */

.intensity-meter {
  float: left;
  margin: 0 15px;
  width: 100px;

  @include breakpoint(medium-and-up) {
    margin: 0 10px 0 0;
  }
}

.intensity-content {
  margin-top: 10px;
}

.intensity {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.intensity-meter-segment {
  stroke: $soft-black;
  stroke-width: 1;
  stroke-miterlimit: 4;
}

.low-color {
  fill: $low-intensity;
}
.moderate-color {
  fill: $moderate-intensity;
}
.high-color {
  fill: $high-intensity;
}
.very-high-color {
  fill: $very-high-intensity;
}
.extreme-color {
  fill: $extreme-intensity;
}

/* Historical photos */

.past-photos {
  width: 272px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;

  @include breakpoint(medium-and-up) {
    width: 416px;
    height: 288px;
  }
}

.slideshow-image {
  width: 270px;
  @include breakpoint(medium-and-up) {
    width: 400px;
  }
}

/* Arrows for photo slider */
.slick-prev {
  left: 15px;
  width: 36px;
  z-index: 9;
}

.slick-next {
  right: 15px;
  width: 36px;
  z-index: 9;
}

.slick-prev::before,
.slick-next::before {
  color: #ccc;
  font-size: 36px;

  &:hover {
    color: #fff;
  }
}

/* Supply kit */

.supply-kit {
  font-size: 16px;
  line-height: 1.2em;

  div {
    margin: 30px 0;
  }

  span {
    font-size: 0.75em;
    line-height: 1em;
  }
}

.supply-kit-icon {
  width: 43px;
  height: 45px;
  background: transparent url(../img/icons-supply-kit.png) no-repeat 0 0;
  background-size: 43px auto;
  overflow: hidden;

  &.food,
  &.water {
    background-position: 0 -90px;
  }

  &.big-num {
    font-size: 50px;
    line-height: 0.9em;
    margin: 0 15px;
    color: $light-contrast;
  }
}

/* Geek box */

#geek-box {
  background-color: $light-main-color;
  color: $white;

  a {
    color: $cool-contrast;
  }

  h3 {
    color: $white;
  }

  .who-made-this-logo {
    margin: 0 auto;
    max-width: 30%;
    max-height: 5rem;

    @include breakpoint(medium-and-up) {
      margin: 0.5rem;
    }
  }
}

#geek-box-container {
  background-color: $light-main-color;
}
