/* Colors */
$black: #000;
$black-tint: rgba(255, 255, 255, 0.5);
$soft-black: #121212;
$deep-grey: #333;
$dark-grey: #444;
$medium-grey: #777;
$light-grey: #ccc;
$soft-white: #f9f9f9;
$white: #fff;

$dark-accent: #0037a7;
$light-accent: #106edf;
$bright-accent: #00a4b2;
$popout-border: #2cb3b3;

$low-intensity: #ffffb2;
$moderate-intensity: #fed976;
$high-intensity: #feb24c;
$very-high-intensity: #fd8d3c;
$extreme-intensity: #f03b20;

$error-red: #f03b20;

/* Typography */

$sans-serif: "Source Sans Pro", sans-serif;
$serif: "Source Serif Pro", serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$big-header-line-height: 1.2; /* maybe 1.3 if we feel saucy */
$small-header-line-height: 1.3;
$body-line-height: 1.4;

/* Z-order */
$z-index-bottom: 0;
$z-index-next: 1;
$z-index-high: 1001; /* higher than leaflet tiles and UI anyway */
$z-index-top: 9999;

/* Breakpoints! */
@mixin breakpoint($point) {
  @if $point == medium {
    @media only screen and (min-width: 640px) and (max-width: 900px) {
      @content;
    }
  } @else if $point == medium-and-up {
    @media only screen and (min-width: 640px) {
      @content;
    }
  } @else if $point == large {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
}

/* Main elements */

html {
  width: auto !important;
  height: auto !important;
}

body {
  background-color: $soft-white;
  color: $soft-black;
  height: auto !important;
  width: auto !important;
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: $body-line-height;
}

h1 {
  color: $soft-black;
  font-family: $serif;
  font-size: 28px;
  line-height: $big-header-line-height;

  @include breakpoint(large) {
    font-size: 32px;
  }
}

h2 {
  border-bottom: 2px solid $light-grey;
  color: $dark-accent;
  font-family: $serif;
  font-size: 28px;
  font-weight: $font-weight-semibold;
  line-height: $big-header-line-height;
  padding-bottom: 20px;

  @include breakpoint(large) {
    font-size: 32px;
  }
}

.h2--sans-serif {
  font-family: $sans-serif;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
}

h3 {
  color: $soft-black;
  font-family: $serif;
  font-size: 21px;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
  @include breakpoint(large) {
    font-size: 24px;
  }
}

.h3--sans-serif {
  font-family: $sans-serif;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
}

h4 {
  color: $light-accent;
  font-family: $serif;
  font-size: 21px;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
  margin-bottom: 10px;
  @include breakpoint(large) {
    font-size: 24px;
  }
}

.h4--sans-serif {
  color: $bright-accent;
  font-family: $sans-serif;
}

.caption {
  color: $dark-grey;
  font-size: 12px;
  line-height: $body-line-height;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: $font-weight-bold;
}

.link--plain {
  text-decoration: none;
}

.link--grey,
.snugget__content a,
.snugget__popout a {
  text-decoration: none;
  border-bottom: 2px solid $light-grey;
  color: $soft-black;

  &:visited,
  &:hover {
    color: $dark-grey;
  }
}

/* Utility styles */

.hide {
  display: none;
}

.hide-for-small {
  display: none;

  @include breakpoint(medium-and-up) {
    display: inline-block;
  }
}

.hide-for-medium-down {
  display: none;

  @include breakpoint(large) {
    display: inline-block;
  }
}

.hide-for-medium-up {
  display: inline-block;

  @include breakpoint(medium-and-up) {
    display: none;
  }
}

.hide-for-small--flex {
  display: none;

  @include breakpoint(medium-and-up) {
    display: flex;
  }
}

.hide-for-medium-up--flex {
  display: flex;

  @include breakpoint(medium-and-up) {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

img {
  max-width: 100%;
}

/* Header */
header {
  display: flex;
  background-color: $white;
  flex-direction: column;
  padding: 2px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
    padding: 5px;
  }

  @include breakpoint(large) {
    padding: 5px 20px;
  }
}

.logo__container {
  overflow: auto;
  position: relative;

  h3 {
    margin: 5px 0;
  }

  @include breakpoint(medium) {
    margin-right: 5px;
    min-width: 195px;
  }

  @include breakpoint(large) {
    margin-right: 10px;
    min-width: 228px;
  }
}

.logo--header {
  display: inline-block;
  max-height: 56px;

  @include breakpoint(large) {
    max-height: 65px;
  }
}

.logo__text {
  display: inline-block;
  vertical-align: top;
}

.project-title {
  color: $dark-grey;
  font-family: $sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 10px 0px 0px;

  @include breakpoint(large) {
    font-size: 14px;
  }
}

.header__about {
  align-items: baseline;
}

.header__about--small {
  position: absolute;
  right: 10px;
  top: 20px;
}

.about__link {
  color: $soft-black;
  font-family: $sans-serif;
  font-size: 16px;
  line-height: $small-header-line-height;
  margin: 0;

  @include breakpoint(medium) {
    margin: 20px 10px 0 5px;
  }

  @include breakpoint(large) {
    font-size: 18px;
    margin: 20px 0 0 10px;
  }
}

/* Search */
.location-form {
  border-radius: 4px;
  border: solid 1px $light-grey;
  display: flex;
  flex-grow: 2;
  margin: 0 5px;
  position: relative;

  @include breakpoint(medium) {
    margin: 14px 5px 14px auto;
  }

  @include breakpoint(large) {
    margin: 14px 10px 14px auto;
  }
}

#location-text,
.mq-input {
  border: none;
  flex-basis: 200px;
  flex-grow: 1;
  line-height: 2;
  height: auto;

  margin: 2px 2px 2px 8px;
  z-index: $z-index-bottom;

  &:focus {
    outline: none;
  }
}

.mq-dropdown-menu {
  z-index: $z-index-high !important;
}

#location-submit {
  border: none;
  background-color: $light-accent;
  color: $white;
  flex-grow: 0;
  transition: color 1s;

  &:focus,
  &:hover {
    background-color: $dark-accent;
  }
}

#auto-location {
  background-color: $white;
  border: none;
  color: $light-accent;
  flex-grow: 0;
  font-weight: 600;
  margin-left: auto;
  line-height: 1.4;
  transition: color 1s;
  z-index: $z-index-next;

  &:focus,
  &:hover {
    background-color: $light-accent;
    color: $white;
  }

  @include breakpoint(medium-and-up) {
    width: 130px;
  }
}

.icon--locate-me {
  height: 16px;
  margin: 3px;
  vertical-align: top;

  @include breakpoint(medium-and-up) {
    height: 18px;
  }
}

#location-submit {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  flex-shrink: 0;
}

.icon--search {
  height: 20px;
  width: 20px;
  padding-top: 4px;
}

.geocode-error-message {
  color: $error-red;
  position: absolute;
  bottom: -38px;
  left: 5px;
}

/* Main page content */
.content-container {
  padding: 0 10px 10px;

  @include breakpoint(medium) {
    padding: 30px;
  }

  @include breakpoint(large) {
    margin: 0 auto;
    max-width: 1080px;
    padding: 40px;
  }
}

/* Information and Instructions */

.map-info-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }
}

.information-container {
  flex-grow: 1;
  margin: 0 auto 20px;

  @include breakpoint(medium) {
    margin-right: 10px;
    margin-top: 10px;
  }

  @include breakpoint(large) {
    margin-right: 20px;
    margin-top: 30px;
  }
}

.info__header {
  font-weight: $font-weight-regular;
}

.info__start-over {
  color: $dark-grey;
  font-weight: $font-weight-regular;
}

.info__hazards {
  margin-top: 20px;

  @include breakpoint(medium-and-up) {
    margin-top: 40px;
  }
}

.hazard-link {
  border-bottom: 2px solid $popout-border;
  color: $bright-accent;
  text-decoration: none;
}

/* Map */
.map-container {
  flex-grow: 2;
  height: 300px;
  min-width: 50%;
}

#map {
  height: 100%;
  width: 100%;
}

/* overriding Leaflet defaults */
/* Change cursor when mousing over the area masked because it's outside the covered area */
.leaflet-clickable {
  cursor: not-allowed;
}
/* Change cursor when over the area users can click in */
.leaflet-container {
  cursor: default;
}

/* loading spinner during geolocation */
.loading {
  position: fixed;
  z-index: $z-index-top;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black-tint;
  text-align: center;
}

.loading-spinner {
  max-width: 40%;
}

.loading-text {
  color: $white;
  margin: 10px 0;

  @include breakpoint(medium) {
    margin: 30px 0 10px;
  }

  @include breakpoint(large) {
    margin: 200px 0 50px;
  }
}

/* Forms */

.button {
  margin: 0;
  padding: 9px 1em;

  @include breakpoint(medium-and-up) {
  }
}

input:invalid {
  border-width: 2px;
}

form:invalid {
  .button--submit {
    border-color: $light-grey;
    background-color: $light-grey;
  }
}

.select {
  height: 40px;
}

/* login and sign in */

#user-interaction-container {
  background-color: $soft-white;
}

.user-interaction__buttons {
  text-align: center;

  @include breakpoint(medium-and-up) {
    text-align: right;
  }

  .button:not(:last-child) {
    margin-right: 1rem;
    @include breakpoint(medium-and-up) {
      margin-right: 2rem;
    }

    @include breakpoint(large) {
      margin-right: 0.5rem;
    }
  }
}

.user-interactions-help {
  padding-top: 1rem;
}

#user-info-container,
#user-info-container--invalid,
#user-signup-result-container,
#user-login-container,
#user-signup-container,
#user-profile-container,
#user-profile-result-container,
#failure-container {
  display: none;
}

/* Language Picker */

#language__form {
  width: auto;
  margin-left: 10px;

  @include breakpoint(medium-and-up) {
    margin-left: auto;
  }
}

.language-icon {
  margin-right: 5px;
  vertical-align: top;
}

.language-icon--select {
  vertical-align: middle;
  margin-left: 10px;
}

.language__button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: $font-weight-bold;
}

/* Disaster tabs */

.disaster-container {
  background-color: $white;
  padding: 5px 10px;

  @include breakpoint(medium) {
    padding: 5px 20px;
  }

  @include breakpoint(large) {
    padding: 5px 40px;
  }
}

/* Sections */
.section-title--static {
  color: $soft-black;
}

.section-title--collapse {
  display: flex; // Fold caret aside wrapped text nicely on smaller sizes
  border-bottom: 2px solid $light-grey;
  cursor: pointer;
}

.caret {
  vertical-align: middle;
  margin-right: 10px;
}

.caret--up {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.section-content {
  display: flex;
  flex-direction: column;
  max-height: 9000px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  @include breakpoint(large) {
    flex-direction: row;
  }
}

.section-content--collapse {
  max-height: 0;
}

/* Snugget content */
.snugget__content {
  width: auto;

  @include breakpoint(large) {
    width: 60%;
  }
}

/* flex-basis is set to the width of the youtube embed */
.snugget__popout {
  flex-basis: 300px;
  max-width: 100%;

  @include breakpoint(large) {
    flex-basis: 340px;
    margin: 0 0 0 auto;
    width: 32%;
  }
}

.popout-content {
  border: 1px solid $popout-border;
  border-left-width: 6px;
  padding: 10px;
  max-width: 100%;

  @include breakpoint(medium) {
    padding: 20px;
  }

  @include breakpoint(large) {
    border: none;
    padding: 0 0 0 30px;
  }
}

.popout__video {
  max-width: 100%;
}

.popout__image {
  max-width: 300px;

  @include breakpoint(medium) {
    width: 50%;
  }
  @include breakpoint(large) {
    min-width: 175px;
    max-width: 100%;
  }
}

/* Intensity meter */
.intensity-meter {
  background: linear-gradient(
    to right,
    $low-intensity,
    $moderate-intensity,
    $high-intensity,
    $very-high-intensity,
    $extreme-intensity
  );
  margin-top: 40px;
  position: relative;
  height: 18px;
  width: auto;

  @include breakpoint(large) {
    margin-top: 50px;
    width: 70%;
  }
}

.intensity-marker {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 2px;
  background-color: $dark-accent;

  &:before {
    color: $dark-grey;
    content: "\25BC";
    top: -18px;
    position: absolute;
    left: -7px;
    text-align: center;
  }
}

.intensity-label {
  color: $dark-grey;
  font-size: 14px;
  position: absolute;
  top: -32px;
}

.intensity-captions {
  margin-bottom: 50px;
  position: relative;
  width: auto;

  @include breakpoint(large) {
    width: 70%;
  }
}

.intensity-caption {
  color: $medium-grey;
  font-size: 14px;
  font-style: italic;
  position: absolute;
}

.intensity-caption--low {
  left: 0;
}

.intensity-caption--high {
  right: 0;
}

/* Historical photos */

.past-photos {
  max-width: 100%;
  height: 320px;
  margin: 30px auto 0;

  @include breakpoint(medium) {
    width: 540px;
    height: 400px;
  }

  @include breakpoint(large) {
    width: 335px;
    height: 320px;
  }
}

.past-photo__caption {
  color: $medium-grey;
  margin: 0 auto;
  text-align: center;
}

.slideshow-image {
  margin: 0 auto;
  max-height: 275px;

  @include breakpoint(medium) {
    max-height: 380px;
  }

  @include breakpoint(large) {
    max-height: 275px;
  }
}

/* Arrows for photo slider */
.slick-prev {
  left: 0 !important;
  top: 36%;
  width: 36px;
  z-index: 9;
}

.slick-next {
  right: 0 !important;
  top: 36%;
  width: 36px;
  z-index: 9;
}

.slick-prev::before,
.slick-next::before {
  color: #ccc;
  font-size: 36px;

  &:hover {
    color: #fff;
  }
}

/* Geek box */

#geek-box {
  background-color: $deep-grey;
  color: $soft-white;
  display: flex;
  flex-direction: column;
  padding: 10px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }

  h3 {
    color: $soft-white;
  }

  ul {
    list-style: none;
    padding-left: 15px;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: $low-intensity;
  }
}

.geek-box-logo {
  margin: 0 auto;
  height: 100%;
  flex: 1 1 200px;

  @include breakpoint(medium-and-up) {
    margin: 10px;
    flex: 1 0 300px;
  }
}

/* About page */
.about-container {
  background-color: $white;
  margin: 0 auto 20px;
  padding: 5px 10px;

  @include breakpoint(medium) {
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 20px;
  }

  @include breakpoint(large) {
    margin-right: 20px;
    margin-top: 30px;
    padding: 5px 40px;
  }
}

.rdpo-container {
  text-align: center;
}

.partner-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-logo {
  margin: 10px;
  vertical-align: middle;
  width: 100px;
}

.about-container--flex {
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
  }
}

.about-content__flowchart {
  flex-shrink: 0;
  @include breakpoint(large) {
    flex-basis: 600px;
  }
}

.about-content__text {
  margin-top: 20px;
}

.bio {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }

  @include breakpoint(large) {
    margin-bottom: 40px;
    padding: 40px;
  }
}

.bio--becks {
  background-color: $very-high-intensity;

  @include breakpoint(medium-and-up) {
    flex-direction: row-reverse;
  }
}

.bio--carson {
  background-color: $extreme-intensity;
}

.bio--grant {
  background-color: $high-intensity;
}

.bio__image {
  flex: 1 1 250px;

  @include breakpoint(medium-and-up) {
    flex: 0 1 850px;
  }
}

.bio__other {
  @include breakpoint(medium) {
    flex: 1 1 auto;
    margin-left: 10px;
  }

  @include breakpoint(large) {
    flex: 3 1 auto;
    margin-left: 40px;
  }
}

.bio__other--reverse {
  @include breakpoint(medium-and-up) {
    margin-left: 0;
    margin-right: 10px;

    h4 {
      text-align: right;
    }
  }

  @include breakpoint(large) {
    margin-right: 40px;
  }
}

.bio__name {
  border-bottom: 2px solid #ccc;
  margin-top: 12px;
}

.bio__text {
  background-color: $white;
  padding: 10px 20px;
}

.bio__links {
  margin: 15px 20px 5px;

  @include breakpoint(medium-and-up) {
    margin: 16px 0;
  }

  .link-icon {
    vertical-align: top;
  }
}

.bio__links--reverse {
  text-align: right;
}
