/* Colors */
$black: #000;
$black-tint: rgba(255, 255, 255, 0.5);
$soft-black: #121212;
$dark-grey: #444;
$medium-grey: #ccc;
$soft-white: #f9f9f9;
$white: #fff;

$dark-accent: #0037a7;
$light-accent: #106edf;
$bright-accent: #00a4b2;

$low-intensity: #ffffb2;
$moderate-intensity: #fed976;
$high-intensity: #feb24c;
$very-high-intensity: #fd8d3c;
$extreme-intensity: #f03b20;

$error-red: #f03b20;

/* Typography */

$sans-serif: "Source Sans Pro", sans-serif;
$serif: "Source Serif Pro", serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$big-header-line-height: 1.2; /* maybe 1.3 if we feel saucy */
$small-header-line-height: 1.3;
$body-line-height: 1.4;

/* Z-order */
$z-index-bottom: 0;
$z-index-next: 1;
$z-index-high: 1001; /* higher than leaflet tiles and UI anyway */
$z-index-top: 9999;

/* Breakpoints! */
@mixin breakpoint($point) {
  @if $point == medium {
    @media only screen and (min-width: 640px) and (max-width: 900px) {
      @content;
    }
  } @else if $point == medium-and-up {
    @media only screen and (min-width: 640px) {
      @content;
    }
  } @else if $point == large {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
}

/* Main elements */

html {
  width: auto !important;
  height: auto !important;
}

body {
  background-color: $soft-white;
  color: $soft-black;
  height: auto !important;
  width: auto !important;
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: $body-line-height;
}

h1 {
  color: $soft-black;
  font-family: $serif;
  font-size: 28px;
  line-height: $big-header-line-height;

  @include breakpoint(large) {
    font-size: 32px;
  }
}

h2 {
  color: $dark-accent;
  font-family: $serif;
  font-size: 24px;
  font-weight: $font-weight-semibold;
  line-height: $big-header-line-height;

  @include breakpoint(large) {
    font-size: 28px;
  }
}

.h2--sans-serif {
  font-family: $sans-serif;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
}

h3 {
  color: $soft-black;
  font-family: $serif;
  font-size: 21px;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
  @include breakpoint(large) {
    font-size: 24px;
  }
}

.h3--sans-serif {
  font-family: $sans-serif;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
}

h4 {
  color: $light-accent;
  font-family: $serif;
  font-size: 16px;
  font-weight: $font-weight-bold;
  line-height: $small-header-line-height;
  @include breakpoint(large) {
    font-size: 18px;
  }
}

.h4--sans-serif {
  color: $bright-accent;
  font-family: $sans-serif;
}

.caption {
  color: $dark-grey;
  font-size: 12px;
  line-height: $body-line-height;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: $font-weight-bold;
}

.link--plain {
  text-decoration: none;
}

.link--grey {
  text-decoration: none;
  border-bottom: 2px solid $medium-grey;

  &:visited {
    color: $dark-grey;
  }
}

/* Utility styles */

.hide {
  display: none;
}

.hide-for-small {
  display: none;

  @include breakpoint(medium-and-up) {
    display: inline-block;
  }
}

.hide-for-medium-up {
  display: inline-block;

  @include breakpoint(medium-and-up) {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.vert-pad-medium {
  padding: 2em 0;
}

/* Header */
header {
  display: flex;
  background-color: $white;
  flex-direction: column;
  padding: 2px;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
    padding: 5px;
  }

  @include breakpoint(large) {
    padding: 5px 20px;
  }
}

.logo__container {
  overflow: auto;
  position: relative;

  h3 {
    margin: 5px 0;
  }

  @include breakpoint(medium) {
    margin-right: 5px;
    min-width: 195px;
  }

  @include breakpoint(large) {
    margin-right: 10px;
    min-width: 228px;
  }
}

.logo--header {
  display: inline-block;
  max-height: 56px;

  @include breakpoint(large) {
    max-height: 65px;
  }
}

.logo__text {
  display: inline-block;
  vertical-align: top;
}

.project-title {
  color: $dark-grey;
  font-family: $sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 10px 0px 0px;

  @include breakpoint(large) {
    font-size: 14px;
  }
}

.header__about {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: $small-header-line-height;
  color: $soft-black;
  margin: 20px 0 0 5px;

  @include breakpoint(large) {
    font-size: 18px;
    margin: 20px 0 0 10px;
  }
}

.header__about--small {
  position: absolute;
  right: 10px;
}

/* Search */
.location-form {
  border-radius: 4px;
  border: solid 1px $medium-grey;
  display: flex;
  flex-grow: 2;
  margin: 0;
  position: relative;

  @include breakpoint(medium) {
    margin: 14px 5px 14px auto;
  }

  @include breakpoint(large) {
    margin: 14px 10px 14px auto;
  }
}

#location-text,
.mq-input {
  border: none;
  flex-basis: 218px;
  flex-grow: 100;
  line-height: 2;
  height: auto;

  margin: 2px;
  z-index: $z-index-bottom;

  &:focus {
    outline: none;
  }
}

.mq-dropdown-menu {
  z-index: $z-index-high !important;
}

#location-submit,
#auto-location {
  background-color: $light-accent;
  border: none;
  color: $white;
  flex-grow: 0;
  transition: color 1s;

  &:focus,
  &:hover {
    background-color: $dark-accent;
  }

  img {
    height: 24px;
  }
}

#auto-location {
  border-right: solid 2px $white;
  margin-left: auto;
  max-width: 52px;
  z-index: $z-index-next;

  @include breakpoint(medium-and-up) {
    max-width: unset;
  }
}

#location-submit {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.geocode-error-message {
  color: $error-red;
  position: absolute;
  bottom: -38px;
  left: 5px;
}

/* Main page content */
.content-container {
  padding: 0 10px 10px;

  @include breakpoint(medium) {
    padding: 30px;
  }

  @include breakpoint(large) {
    max-width: 1080px;
    padding: 40px;
  }
}

/* Information and Instructions */

.map-info-container {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium-and-up) {
    flex-direction: row;
  }
}

.information-container {
  flex-grow: 1;
  margin: 0 auto 20px;

  @include breakpoint(medium) {
    margin-right: 10px;
    margin-top: 10px;
  }

  @include breakpoint(large) {
    margin-right: 20px;
    margin-top: 30px;
  }
}

.info__header {
  font-weight: $font-weight-regular;
}

.info__start-over {
  color: $dark-grey;
  font-weight: $font-weight-regular;
  text-align: center;
  @include breakpoint(medium-and-up) {
    text-align: left;
  }
}

/* Map */
.map-container {
  flex-grow: 2;
  height: 300px;
  min-width: 50%;
}

#map {
  height: 100%;
  width: 100%;
}

/* overriding Leaflet defaults */
/* Change cursor when mousing over the area masked because it's outside the covered area */
.leaflet-clickable {
  cursor: not-allowed;
}
/* Change cursor when over the area users can click in */
.leaflet-container {
  cursor: default;
}

/* loading spinner during geolocation */
.loading {
  position: fixed;
  z-index: $z-index-top;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black-tint;
  text-align: center;
}

.loading-spinner {
  max-width: 40%;
}

.loading-text {
  color: $white;
  margin: 10px 0;

  @include breakpoint(medium) {
    margin: 30px 0 10px;
  }

  @include breakpoint(large) {
    margin: 200px 0 50px;
  }
}

/* Forms */

.button {
  margin: 0;
  padding: 9px 1em;

  @include breakpoint(medium-and-up) {
  }
}

input:invalid {
  border-width: 2px;
}

form:invalid {
  .button--submit {
    border-color: $medium-grey;
    background-color: $medium-grey;
  }
}

.select {
  height: 38px;
  width: auto;
}

/* login and sign in */

#user-interaction-container {
  background-color: $soft-white;
}

.user-interaction__buttons {
  text-align: center;

  @include breakpoint(medium-and-up) {
    text-align: right;
  }

  .button:not(:last-child) {
    margin-right: 1rem;
    @include breakpoint(medium-and-up) {
      margin-right: 2rem;
    }

    @include breakpoint(large) {
      margin-right: 0.5rem;
    }
  }
}

.user-interactions-help {
  padding-top: 1rem;
}

#user-info-container,
#user-info-container--invalid,
#user-signup-result-container,
#user-login-container,
#user-signup-container,
#user-profile-container,
#user-profile-result-container,
#failure-container {
  display: none;
}

/* Language Picker */

#language__form {
  width: auto;
  position: absolute;
  left: 5px;
}

.select--language {
  padding: 0.5em;
}

/* Disaster tabs */

.disaster-content {
  background-color: $white;
  margin: 5px;
  max-width: 99%;
  padding: 5px;
}

.disaster-container {
  padding-top: 20px;
}

.disaster-container__title {
  margin-bottom: 20px;
  text-align: center;
}

.likely-scenario {
  color: $white;
  padding: 10px;
  margin-top: -15px;
  p {
    margin-bottom: 0;
  }
}

/* Sections */

.section-content {
  padding: 0;
  @include breakpoint(large) {
    padding-left: 20px;
  }
}

.section-icon--link {
  background: transparent url(../img/link.svg) no-repeat 0 0;
}

.section-icon--supply-kit {
  background: transparent url(../img/supplykit.svg) no-repeat 0 0;
}

.section-icon--community {
  background: transparent url(../img/community.svg) no-repeat 0 0;
}

.section-icon--What {
  background: transparent url(../img/question.svg) no-repeat 0 0;
}

.section-icon--Past {
  background: transparent url(../img/clock.svg) no-repeat 0 0;
}

.section-icon--How {
  background: transparent url(../img/prepare.svg) no-repeat 0 0;
}

.section-icon {
  background-size: 50px auto;

  display: inline-block;
  margin-top: 0.2rem;
  width: 50px;
  height: 50px;

  @include breakpoint(medium-and-up) {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
  }
}

.section-icon--dynamic {
  width: 100%;
}

.section-title {
  margin-left: 55px;
}

/* Snugget content */

.intensity-meter {
  float: left;
  margin: 0 15px;
  width: 100px;

  @include breakpoint(medium-and-up) {
    margin: 0 10px 0 0;
  }
}

.intensity-content {
  margin-top: 10px;
}

.intensity {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.intensity-meter-segment {
  stroke: $soft-black;
  stroke-width: 1;
  stroke-miterlimit: 4;
}

.low-color {
  fill: $low-intensity;
}
.moderate-color {
  fill: $moderate-intensity;
}
.high-color {
  fill: $high-intensity;
}
.very-high-color {
  fill: $very-high-intensity;
}
.extreme-color {
  fill: $extreme-intensity;
}

/* Historical photos */

.past-photos {
  width: 272px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;

  @include breakpoint(medium-and-up) {
    width: 416px;
    height: 288px;
  }
}

.slideshow-image {
  width: 270px;
  @include breakpoint(medium-and-up) {
    width: 400px;
  }
}

/* Arrows for photo slider */
.slick-prev {
  left: 15px;
  width: 36px;
  z-index: 9;
}

.slick-next {
  right: 15px;
  width: 36px;
  z-index: 9;
}

.slick-prev::before,
.slick-next::before {
  color: #ccc;
  font-size: 36px;

  &:hover {
    color: #fff;
  }
}

/* Geek box */

#geek-box {
  .who-made-this-logo {
    margin: 0 auto;
    max-width: 30%;
    max-height: 5rem;

    @include breakpoint(medium-and-up) {
      margin: 0.5rem;
    }
  }
}
