.hazard-header {
  color: $soft-black;
  padding: 5px;

  @include breakpoint(medium-and-up) {
    padding-inline-start: 20px;
  }
}

.hazard-source {
  margin-top: 0;
}

.quake {
  background-color: $bright-accent;
}

.volcano {
  background-color: $low-intensity;
}

.landslide {
  background-color: $moderate-intensity;
}

.flood {
 background-color: $high-intensity;
}

.wildfire {
  background-color: $very-high-intensity;
}

.summer {
  background-color: $extreme-intensity;
}

.data__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.data__image {
  padding: 0.5rem;
  max-width: 300px;
  text-align: center;

  a {
    color: $light-accent;
    text-decoration: none;
  }

  a:focus, a:hover {
    color: $bright-accent;
    text-decoration: none;
  }
}

.data__thumbnail {
  width: 100%;
  display: block;
}
