.hazard-header {
  color: $soft-black;
}

.quake {
  background-color: $bright-accent;
}

.volcano {
  background-color: $low-intensity;
}

.landslide {
  background-color: $moderate-intensity;
}

.flood {
 background-color: $high-intensity;
}

.wildfire {
  background-color: $extreme-intensity;
}