# Example secure_settings.py module.
# DO NOT INCLUDE THESE SETTINGS IN VERSION CONTROL
SECURE_SETTINGS_DB_NAME = 'geodjango'
SECURE_SETTINGS_DB_HOST = '127.0.0.1'
SECURE_SETTINGS_DB_USER = 'dbname'
SECURE_SETTINGS_DB_PASSWORD = 'dbpass'
SECURE_SETTINGS_DB_PORT = '5432'
SECURE_SETTINGS_SECRET_KEY = 'secure key gibberish goes here'