body {
  font-family: 'MetaSerifCompPro-Book W01 Rg', serif;
  background-color: #FFFFFF;
  color: #55578B;
  font-size: 20px;
  line-height: 1.3em;
}


/* helper classes for colors and fonts */
.white { color: #FFFFFF; }
.white-bg { background-color: #FFF; }
.orange { color: #FF9933; }
.orange-bg { background-color: #FF9933; }
.purple { color: #55578B; }
.purple-bg { background-color: #55578B; }
.bold { font-family: 'Meta Serif Offc W01 Extrabold'; }
.sans-serif { font-family: 'HelveticaNeueW01-65Medi', sans-serif; }
.sans-serif.bold { font-family: 'HelveticaNeueW01-95Blac'; }
.center { text-align: center; }
.vert-pad-large { padding: 40px 0; }
.vert-pad-medium { padding: 30px 0; }
.vert-pad-small { padding: 15px 0; }


/* header styles */
.project-title {
  margin-top: 40px;
  font-size: 75px;
  line-height: 1.2em;
}

.orange-bg .project-title a {
  color: #FFF;
} 

.project-subtitle {
  margin: 10px 0;
  font-size: 23px;
  line-height: 1.2em;
}
.location-label {
  margin: 15px 0 12px 0;
  font-size: 34px;
  line-height: 1.2em;
}
#location-text {
  color: #55578B;
  font-family: 'Meta Serif Offc W01 Extrabold';
  font-size: 18px;
  line-height: 1.3em;
  border-color: #FF9933;
  border-width: 3px;
}
#location-text:disabled { 
  border-color: #999;
  color: #999;
}
::-webkit-input-placeholder { color: #55578B; }
:-moz-placeholder { color: #55578B; }
::-moz-placeholder { color: #55578B; }
:-ms-input-placeholder { color: #55578B; }
.form-icon-button {
  width: 7.33%;
}
#location-submit,
#auto-location-submit {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 27px 27px;
}
#location-submit {
  background-image: url(../img/icon-search.png);
}
#auto-location-submit {
  background-image: url(../img/icon-target.png);
  border-radius: 3px;
}
.map-holder {
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
#map-image {
  /* corrects inline gap in enclosing div */
  display: block;
  width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic; 
}


/* main content and snugget styles */
.welcome {
  font-size: 22px;
  line-height: 1.3em;
  padding: 30px 0;
}
.chapter-title {
  margin-bottom: .2em;
  font-size: 46px;
  line-height: 1.2em;
  text-transform: uppercase;
}
.chapter-content p {
  font-size: 1.2em;
  line-height: 1.3em;
}
.down-arrow {
	position: relative;
}
.down-arrow:after {
  /* Fixing some AA on webkit and FF */
  -moz-transform: scale(.9999);
  -webkit-transform:rotate(360deg);
  
  top: 100%;
  left: 50%;
  border: solid transparent;
  border-color: #FF9933 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  border-width: 43px 113px 0 113px;
  content: " ";
  height: 0;
  margin-left: -113px;
  position: absolute;
  pointer-events: none;
  width: 0;
}
.below-arrow {
  padding-top: 43px;
}
.section-icon {
  margin: 30px auto 0;
  width: 80px;
  height: 80px;
  background: transparent url(../img/icons-sections.png) no-repeat 0 0;
  background-size: 80px auto;
}
.section-icon.kit         { background-position: 0 -80px; }
.section-icon.community   { background-position: 0 -160px; }
.section-icon.leaders     { background-position: 0 -240px; }
.section-icon.home        { background-position: 0 -320px; }
.section-icon.deformation { background-position: 0 -400px; }
.section-icon.routes      { background-position: 0 -480px; }
.section-icon.shaking     { background-position: 0 -560px; }
.section-title {
  font-size: 24px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 15px 0;
}
.value-graph {
  width: 170px;
  margin: auto;
  margin-bottom: 1em;
}
.value-graph .intensity,
.value-graph .deformation {
  display: inline-block;
  height: 59px;
  background: transparent url(../img/intensity-bars.png) no-repeat 0 0;
  background-size: 140px auto;
  overflow: hidden;
}
.value-graph .intensity {
  width: 85px;
}
.value-graph .deformation {
  width: 55px;
  margin-left: 20px;
}
.value-graph .val-1 { background-position: 0 -59px; }
.value-graph .val-2 { background-position: 0 -118px; }
.value-graph .val-3 { background-position: 0 -177px; }
.value-graph .val-4 { background-position: 0 -236px; }
.value-graph .val-5 { background-position: 0 -295px; }
.value-graph .val-6 { background-position: 0 -354px; }
.deformation.val-1 { background-position: -85px -59px; }
.deformation.val-2 { background-position: -85px -118px; }
.deformation.val-3 { background-position: -85px -177px; }
.deformation.val-4 { background-position: -85px -236px; }
.value-graph .numerical {
  display: inline-block;
  width: 85px;
  font-size: 30px;
}
.value-graph .numerical span {
  padding-left: 10px;
  font-size: 50px;
}
.supply-kit {
  font-size: 16px;
  line-height: 1.2em;
}
.supply-kit-icon {
  width: 43px;
  height: 45px;
  background: transparent url(../img/icons-supply-kit.png) no-repeat 0 0;
  background-size: 43px auto;
  overflow: hidden;
}
.supply-kit-icon.food { background-position: 0 -45px; }
.supply-kit-icon.water { background-position: 0 -90px; }
.supply-kit .big-num {
  font-size: 50px;
  line-height: .9em;
  margin: 0 15px;
}
.supply-kit .text-label {
  padding-top: .2em;
}
.supply-kit > div {
  margin: 30px 0;
}
.supply-kit span {
  font-size: .75em;
  line-height: 1em;
}

/* footer styles */
.social {
  padding: 40px 0;
}
.social .title {
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.social .secondary {
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
}
.social .hashtag {
  font-size: 24px;
  line-height: 1.5em;
  text-transform: uppercase;
}
.social-icon {
  display: inline-block;
  margin: 0 .1em;
  width: 32px;
  height: 32px;
  background: #FF9933 url(../img/icons-social.png) no-repeat 0 0;
  background-size: auto 32px;
  border-radius: 5px;
}
.social-icon.twitter { background-position: -32px 0; }
.social-icon.email { background-position: -64px 0; }
.social-icon:hover { background-color: #A6A7C4; }
#geek-bar a {
  text-transform: uppercase;
  color: #FFFFFF;
}
#geek-bar a:hover {
  color: #55578B;
}
#geek-bar a:active {
  color: #FFFFFF;
}
.footer {
  font-size: 16px;
  line-height: 1.3em;
  padding: 30px 0; 
}


/* loading spinner during geolocation */
.loading {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.5) url(../img/thinking.gif) no-repeat center center;
  background-size: 110px 110px;
}


/* overriding foundation (should use sass/scss/less instead!) */
a { color: #FF9933; }
a:hover { color: #55578B; }
.orange-bg a { color: #55578B; }
.orange-bg a:hover { color: #FFFFFF; }
a.button { background-color: #FF9933; }
a.button:hover { background-color: #A6A7C4; }
a.button.disabled { background-color: #999; }


/* adjustments for smaller screens */
@media only screen and (max-width: 40em) { 
  
#location-submit,
#auto-location-submit {
  background-size: 23px 23px;
}
.project-title {
  font-size: 50px;
  line-height: 1.2em;
}
.project-subtitle {
  font-size: 20px;
  line-height: 1.2em;
}
.location-label {
  font-size: 22px;
  line-height: 1.2em;
}  
.welcome {
  font-size: 20px;
  line-height: 1.3em;
}
.chapter-title {
  font-size: 30px;
  line-height: 1.2em;
}
.social .title {
  font-size: 32px;
  line-height: 1.2em;
}
  
}
