html {
  width:auto;
}

body {
  height:auto;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #444;
}

/* helper classes for colors and fonts */
.sans-serif {  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.vert-pad-large { padding: 3em 0; }
.vert-pad-medium { padding: 2em 0; }
.vert-pad-small { padding: 1em 0; }
.caps {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: bold;
}

#title a {
   /*font-family: Georgia, Times, 'Times New Roman', serif;*/
   font-size: 1.25em;
   font-weight: bold;
   color: #444;
}

#title a:hover {
   color: #444;
}

.underline:after {
  display: block;
  content: " ";
  height: 4px;
  width: 64px;
  margin: 0.5em 0 1em 0;
  background-color: #444;
}

/* header styles */
.location-label {
  margin: 15px 0 12px 0;
  font-size: 34px;
  line-height: 1.2em;
}
#location-text {
  color: #444444;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3em;
  border-color: #e1e1e1;
  border-width: 1px;
}
#location-text:disabled {
  border-color: #999;
  color: #999;
}
::-webkit-input-placeholder { color: #444444; }
:-moz-placeholder { color: #444444; }
::-moz-placeholder { color: #444444; }
:-ms-input-placeholder { color: #444444; }

#location-submit {
  background-image: url(../img/icon-search.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  /*width: 44px;*/
  border-radius: 0 3px 3px 0;
}

.auto-location-submit {
  /*background-image: url(../img/icon-target.png);
  background-repeat: no-repeat;*/
  border-radius: 3px;
  padding: 9px 1em;
}

#map {
  height: 400px;
}

/* main content and snugget styles */
.chapter-content p {
  font-size: 1.25em;
  line-height: 1.5em;
}

.section-icon {
  margin-top: 0.2rem;
  width: 60px;
  height: 60px;
  background: transparent url(../img/icons-sections.png) no-repeat 0 0;
  background-size: 60px auto;
}
.section-icon.kit         { background-position: 0 -60px; }
.section-icon.community   { background-position: 0 -120px; }
.section-icon.leaders     { background-position: 0 -180px; }
.section-icon.home        { background-position: 0 -240px; }
.section-icon.deformation { background-position: 0 -300px; }
.section-icon.routes      { background-position: 0 -360px; }
.section-icon.shaking     { background-position: 0 -420px; }

.section-title {
  font-size: 24px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 15px 0;
}

.chart-meter {
    float:left;
    width:40px;
    height: 18px;
    background-color: #f1f2f3;
    border: 1px solid #888;
    margin-bottom: 0.5em;
}

.light-color { background-color: #ffffb2;}
.moderate-color { background-color: #fed976;}
.strong-color { background-color: #feb24c;}
.very-strong-color { background-color: #fd8d3c;}
.severe-color { background-color: #f03b20;}
.violent-color { background-color: #bd0026;}

.chart-label{
  margin-top: -0.25em;
  padding-left: 1em;
  font-weight: bold;
}

/*.value-graph {
  width: 170px;
  margin: auto;
  margin-bottom: 1em;
}
.value-graph .intensity,
.value-graph .deformation {
  display: inline-block;
  height: 59px;
  background: transparent url(../img/intensity-bars.png) no-repeat 0 0;
  background-size: 140px auto;
  overflow: hidden;
}
.value-graph .intensity {
  width: 85px;
}
.value-graph .deformation {
  width: 55px;
  margin-left: 20px;
}
.value-graph .val-1 { background-position: 0 -59px; }
.value-graph .val-2 { background-position: 0 -118px; }
.value-graph .val-3 { background-position: 0 -177px; }
.value-graph .val-4 { background-position: 0 -236px; }
.value-graph .val-5 { background-position: 0 -295px; }
.value-graph .val-6 { background-position: 0 -354px; }
.deformation.val-1 { background-position: -85px -59px; }
.deformation.val-2 { background-position: -85px -118px; }
.deformation.val-3 { background-position: -85px -177px; }
.deformation.val-4 { background-position: -85px -236px; }
.value-graph .numerical {
  display: inline-block;
  width: 85px;
  font-size: 30px;
}
.value-graph .numerical span {
  padding-left: 10px;
  font-size: 50px;
}*/
.supply-kit {
  font-size: 16px;
  line-height: 1.2em;
}
.supply-kit-icon {
  width: 43px;
  height: 45px;
  background: transparent url(../img/icons-supply-kit.png) no-repeat 0 0;
  background-size: 43px auto;
  overflow: hidden;
}
.supply-kit-icon.food { background-position: 0 -45px; }
.supply-kit-icon.water { background-position: 0 -90px; }
.supply-kit .big-num {
  font-size: 50px;
  line-height: .9em;
  margin: 0 15px;
  color: #FF9933;
}
.supply-kit .text-label {
  padding-top: .2em;
}
.supply-kit > div {
  margin: 30px 0;
}
.supply-kit span {
  font-size: .75em;
  line-height: 1em;
}

#geek-box h6 {
    color: #717273;
}

#geek-box p {
    color: #717273;
}

/* loading spinner during geolocation */
.loading {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.5) url(../img/thinking.gif) no-repeat center center;
  background-size: 110px 110px;
}

/* adjustments for smaller screens */
@media only screen and (max-width: 40em) {

#location-submit {
  background-size: 23px 23px;
}
.project-title {
  font-size: 50px;
  line-height: 1.2em;
}
.project-subtitle {
  font-size: 20px;
  line-height: 1.2em;
}
.location-label {
  font-size: 22px;
  line-height: 1.2em;
}
.welcome {
  font-size: 20px;
  line-height: 1.3em;
}
.chapter-title {
  font-size: 30px;
  line-height: 1.2em;
}
.social .title {
  font-size: 32px;
  line-height: 1.2em;
}

#map {
  height: 180px;
}

.auto-location-submit {
  margin-left: 1em;
}

#title a {
   font-size: 1.25em;
}

}
