#home {
  margin-top: 2em;
}

#map {
  margin-bottom: 1em;
}

.form-icon-button {
  width: 7.33%;
}

#auto-location-submit {
  border-radius: 3px;
}

.chapter-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.temp {
  margin-bottom: 5px;
  display: block;
}
.snugget {  
}

.snugget .icon {
}